In [1]:
import pandas as pd

# Path to your .dta file
file_path = '/Users/Ben.Schneider/Downloads/blkgrp_over18_race_dec10.dta'

# Reading the file
df = pd.read_stata(file_path)

# Display the first few rows of the dataframe
df.head(5)

,GEOID10_BlkGrp,State_FIPS10,County_FIPS10,Tract_FIPS10,BlkGrp_FIPS10,Total_Pop,Hispanic_Total,Non_Hispanic_Total,NH_White_alone,NH_Black_alone,NH_AIAN_alone,NH_API_alone,NH_Other_alone,NH_Mult_Total,NH_White_Other,NH_Black_Other,NH_AIAN_Other,NH_Asian_HPI,NH_API_Other,NH_Asian_HPI_Other
0,010010201001,01,001,020100,1,523,13,510,441,55,4,3,0,7,0,0,0,0,0,0
1,010010201002,01,001,020100,2,882,15,867,759,89,7,6,0,6,0,0,0,0,0,0
2,010010202001,01,001,020200,1,664,23,641,218,413,1,4,1,4,0,0,0,0,0,0
3,010010202002,01,001,020200,2,900,38,862,414,442,1,1,2,2,0,0,0,0,0,0
4,010010203001,01,001,020300,1,1859,42,1817,1460,314,5,9,0,29,1,0,0,2,0,0

In [2]:
import pandas as pd

# Path to your .dta file
file_path = '/Users/Ben.Schneider/Downloads/blkgrp_attr_over18.dta'

# Reading the file
block = pd.read_stata(file_path)

# Display the first few rows of the dataframe
block.head(5)

,GeoInd,geo_pr_white,geo_pr_black,geo_pr_aian,geo_pr_api,geo_pr_mult_other,geo_pr_hispanic,here,here_given_white,here_given_black,here_given_aian,here_given_api,here_given_mult_other,here_given_hispanic
0,010010201001,0.843212,0.105163,0.007648,0.005736,0.013384,0.024857,0.000002,0.000003,0.000002,2.485870e-06,2.520620e-07,2.501771e-06,3.898436e-07
1,010010201002,0.860544,0.100907,0.007937,0.006803,0.006803,0.017007,0.000004,0.000005,0.000003,4.350273e-06,5.041240e-07,2.144375e-06,4.498196e-07
2,010010202001,0.328826,0.622960,0.001508,0.006034,0.006034,0.034639,0.000003,0.000001,0.000015,6.224386e-07,3.366078e-07,1.431817e-06,6.897234e-07
3,010010202002,0.461070,0.492253,0.001114,0.001114,0.002227,0.042222,0.000004,0.000003,0.000016,6.229129e-07,8.421606e-08,7.164540e-07,1.139543e-06
4,010010203001,0.785906,0.168908,0.002690,0.005917,0.013986,0.022593,0.000008,0.000009,0.000011,3.107338e-06,9.242273e-07,9.292292e-06,1.259495e-06

## ZIP and LAST NAME ##

In [3]:
import pandas as pd

# Path to your .dta file
file_path = '/Users/Ben.Schneider/Downloads/zip_attr_over18.dta'

# Reading the file
zip = pd.read_stata(file_path)

# Display the first few rows of the dataframe
zip.head(5)

,GeoInd,geo_pr_white,geo_pr_black,geo_pr_aian,geo_pr_api,geo_pr_mult_other,geo_pr_hispanic,here,here_given_white,here_given_black,here_given_aian,here_given_api,here_given_mult_other,here_given_hispanic
0,01001,0.930967,0.015967,0.000879,0.019116,0.007104,0.025967,0.000058,0.000081,7.949171e-06,0.000007,0.000022,0.000035,0.000011
1,01002,0.766643,0.043234,0.001164,0.100798,0.022038,0.066123,0.000107,0.000122,3.935993e-05,0.000018,0.000212,0.000197,0.000050
2,01003,0.751226,0.054109,0.001261,0.115879,0.026473,0.051052,0.000044,0.000049,2.041858e-05,0.000008,0.000101,0.000098,0.000016
3,01005,0.968879,0.005805,0.002111,0.003958,0.008443,0.010804,0.000016,0.000023,8.022543e-07,0.000005,0.000001,0.000011,0.000001
4,01007,0.934514,0.013614,0.001553,0.020832,0.009228,0.020259,0.000047,0.000065,5.432791e-06,0.000011,0.000019,0.000036,0.000007

In [4]:
zip.rename(columns={'GeoInd': 'ZCTA5'}, inplace=True)
zip

,ZCTA5,geo_pr_white,geo_pr_black,geo_pr_aian,geo_pr_api,geo_pr_mult_other,geo_pr_hispanic,here,here_given_white,here_given_black,here_given_aian,here_given_api,here_given_mult_other,here_given_hispanic
0,01001,0.930967,0.015967,0.000879,0.019116,0.007104,0.025967,5.828382e-05,8.083407e-05,7.949171e-06,0.000007,2.196134e-05,3.471824e-05,1.064627e-05
1,01002,0.766643,0.043234,0.001164,0.100798,0.022038,0.066123,1.065787e-04,1.217239e-04,3.935993e-05,0.000018,2.117573e-04,1.969390e-04,4.957264e-05
2,01003,0.751226,0.054109,0.001261,0.115879,0.026473,0.051052,4.417650e-05,4.943953e-05,2.041858e-05,0.000008,1.009049e-04,9.805610e-05,1.586445e-05
3,01005,0.968879,0.005805,0.002111,0.003958,0.008443,0.010804,1.617929e-05,2.335293e-05,8.022543e-07,0.000005,1.262216e-06,1.145407e-05,1.229569e-06
4,01007,0.934514,0.013614,0.001553,0.020832,0.009228,0.020259,4.671744e-05,6.503945e-05,5.432791e-06,0.000011,1.918335e-05,3.614754e-05,6.657669e-06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32984,99923,0.922078,0.000000,0.025974,0.012987,0.012987,0.025974,3.282755e-07,4.509395e-07,0.000000e+00,0.000001,8.403564e-08,3.574631e-07,5.997900e-08
32985,99925,0.457096,0.003300,0.438944,0.006601,0.074257,0.019802,2.583571e-06,1.759299e-06,7.283507e-08,0.000165,3.361426e-07,1.608584e-05,3.598740e-07
32986,99926,0.123436,0.004822,0.815833,0.006750,0.037609,0.011550,4.429588e-06,8.145477e-07,1.824430e-07,0.000527,5.893973e-07,1.396826e-05,3.598740e-07
32987,99927,0.755814,0.000000,0.093023,0.011628,0.081395,0.058140,3.666454e-07,4.128320e-07,0.000000e+00,0.000005,8.403564e-08,2.502241e-06,1.499475e-07
32988,99929,0.756732,0.000549,0.152664,0.011532,0.066447,0.012075,7.767766e-06,8.756902e-06,3.643778e-08,0.000173,1.765729e-06,4.327707e-05,6.597690e-07

In [5]:
import pandas as pd

# Path to your .dta file
file_path = '/Users/Ben.Schneider/Downloads/census_surnames_lower.dta'

# Reading the file
surname = pd.read_stata(file_path)

# Display the first few rows of the dataframe
surname.head(5)

,name,rank,count,prop100k,cum_prop100k,pctwhite,pctblack,pctapi,pctaian,pct2prace,pcthispanic,countmiss,remaining
0,smith,1,2376206,880.85,880.85,0.7335,0.2222,0.0040,0.0085,0.0163,0.0156,0.0,-2.376206e+02
1,johnson,2,1857160,688.44,1569.30,0.6155,0.3380,0.0042,0.0091,0.0182,0.0150,0.0,2.061862e-10
2,williams,3,1534042,568.66,2137.96,0.4852,0.4672,0.0037,0.0078,0.0201,0.0160,0.0,0.000000e+00
3,brown,4,1380145,511.62,2649.58,0.6071,0.3454,0.0041,0.0083,0.0186,0.0164,0.0,1.380145e+02
4,jones,5,1362755,505.17,3154.75,0.5769,0.3773,0.0035,0.0094,0.0185,0.0144,0.0,3.025924e-10

In [6]:
import pandas as pd

# Path to your .dta file
file_path = '/Users/Ben.Schneider/Downloads/tract_attr_over18.dta'

# Reading the file
tract = pd.read_stata(file_path)

# Display the first few rows of the dataframe
tract.head(5)

,GeoInd,geo_pr_white,geo_pr_black,geo_pr_aian,geo_pr_api,geo_pr_mult_other,geo_pr_hispanic,here,here_given_white,here_given_black,here_given_aian,here_given_api,here_given_mult_other,here_given_hispanic
0,01001020100,0.854093,0.102491,0.007829,0.006406,0.009253,0.019929,0.000006,0.000008,0.000005,0.000007,7.562219e-07,0.000005,8.396632e-07
1,01001020200,0.404900,0.547769,0.001281,0.003203,0.003844,0.039003,0.000007,0.000004,0.000031,0.000001,4.209635e-07,0.000002,1.829266e-06
2,01001020300,0.779421,0.175764,0.003232,0.008889,0.011718,0.020976,0.000011,0.000012,0.000016,0.000005,1.851594e-06,0.000010,1.559375e-06
3,01001020400,0.928211,0.039158,0.002670,0.005933,0.008899,0.015129,0.000014,0.000020,0.000005,0.000006,1.680493e-06,0.000011,1.529387e-06
4,01001020500,0.810209,0.120314,0.003949,0.027643,0.010926,0.026959,0.000032,0.000039,0.000033,0.000019,1.766189e-05,0.000030,6.147534e-06

## CALCULATIONS ##

In [7]:
import pandas as pd

# Path to your .dta file
file_path = '/Users/Ben.Schneider/Downloads/firstnames.xlsx'

# Reading the file
first_names = pd.read_excel(file_path, sheet_name = 'data')

first_names

,firstname,obs,pcthispanic,pctwhite,pctblack,pctapi,pctaian,pct2prace
0,AARON,3646,2.880,91.607,3.264,2.057,0.055,0.137
1,ABBAS,59,0.000,71.186,3.390,25.424,0.000,0.000
2,ABBEY,57,0.000,96.491,3.509,0.000,0.000,0.000
3,ABBIE,74,1.351,95.946,2.703,0.000,0.000,0.000
4,ABBY,262,1.527,94.656,1.527,2.290,0.000,0.000
...,...,...,...,...,...,...,...,...
4246,ZOFIA,55,0.000,100.000,0.000,0.000,0.000,0.000
4247,ZOILA,66,86.364,12.121,1.515,0.000,0.000,0.000
4248,ZOLTAN,47,6.383,87.234,4.255,2.128,0.000,0.000
4249,ZORAN,52,0.000,100.000,0.000,0.000,0.000,0.000
4250,ALL OTHER FIRST NAMES,214124,8.226,51.422,11.541,28.117,0.396,0.298

In [8]:
import pandas as pd
import numpy as np

def surname_cleaner(dataframe):
    """
    Cleans and processes a DataFrame containing census data. Specifically, it:
    1. Replaces '(S)' values with NaN.
    2. Converts percentage columns (white, black, API, AIAN, 2+ races, Hispanic) to proportions.
    3. Counts the number of missing values (NaNs) for these demographic columns.
    4. Calculates the remaining proportion for each row.
    5. Distributes this remaining proportion equally among the missing values in each row.
    6. Converts the 'name' column values to lowercase.

    Args:
    dataframe (pd.DataFrame): A DataFrame containing the census data with specific columns.

    Returns:
    pd.DataFrame: A cleaned and processed DataFrame.
    """

    # Replace '(S)' values with NaN
    dataframe = dataframe.replace('(S)', np.nan)

    # Convert percentage columns to proportions, handling NaNs
    for column in ['pctwhite', 'pctblack', 'pctapi', 'pctaian', 'pct2prace', 'pcthispanic']:
        dataframe[column] = pd.to_numeric(dataframe[column], errors='coerce') / 100

    # Count the number of missing values in each row for specified columns
    missing_columns = ['pctwhite', 'pctblack', 'pctapi', 'pctaian', 'pct2prace', 'pcthispanic']
    dataframe['countmiss'] = dataframe[missing_columns].isnull().sum(axis=1)

    # Calculate the remaining proportion for each row
    dataframe['remaining'] = dataframe['count'] * (1 - dataframe[missing_columns].sum(axis=1, min_count=1))

    # Distribute the remaining proportion equally among the missing values
    for column in missing_columns:
        dataframe.loc[dataframe[column].isnull(), column] = dataframe['remaining'] / (dataframe['countmiss'] * dataframe['count'])

    # Convert the name column to lowercase
    dataframe['name'] = dataframe['name'].str.lower()

    return dataframe

In [9]:
import pandas as pd

# Path to your .dta file
file_path = '/Users/Ben.Schneider/Downloads/Names_2010Census.csv'

# Reading the file
census_2010 = pd.read_csv(file_path)

In [10]:
surname_2010_census = surname_cleaner(census_2010)

In [11]:
surname_2010_census

,name,rank,count,prop100k,cum_prop100k,pctwhite,pctblack,pctapi,pctaian,pct2prace,pcthispanic,countmiss,remaining
0,smith,1,2442977,828.19,828.19,0.7090,0.2311,0.0050,0.0089,0.0219,0.0240,0,2.442977e+02
1,johnson,2,1932812,655.24,1483.42,0.5897,0.3463,0.0054,0.0094,0.0256,0.0236,0,2.145852e-10
2,williams,3,1625252,550.97,2034.39,0.4575,0.4768,0.0046,0.0082,0.0281,0.0249,0,-1.625252e+02
3,brown,4,1437026,487.16,2521.56,0.5795,0.3560,0.0051,0.0087,0.0255,0.0252,0,0.000000e+00
4,jones,5,1425470,483.24,3004.80,0.5519,0.3848,0.0044,0.0100,0.0261,0.0229,0,-1.425470e+02
...,...,...,...,...,...,...,...,...,...,...,...,...,...
162249,dietzmann,160975,100,0.03,90062.93,0.9600,0.0000,0.0000,0.0200,0.0000,0.0200,2,4.000000e+00
162250,dokas,160975,100,0.03,90062.96,0.9400,0.0200,0.0000,0.0000,0.0200,0.0200,3,6.000000e+00
162251,donlea,160975,100,0.03,90062.99,0.9400,0.0000,0.0000,0.0000,0.0000,0.0600,0,0.000000e+00
162252,doriott,160975,100,0.03,90063.03,0.8900,0.0000,0.0300,0.0000,0.0500,0.0300,2,6.000000e+00
162253,all other names,0,29312001,9936.97,9936.97,0.6665,0.0853,0.0797,0.0086,0.0232,0.1367,0,0.000000e+00

In [12]:
#BISG Example Smith California 

def calculate_bisg(surname_df, geo_df, surname):
    """
    Calculate the Bayesian Improved Surname Geocoding (BISG) probability.

    Args:
    surname_df (pd.DataFrame): DataFrame containing surname distribution across races.
    geo_df (pd.DataFrame): DataFrame containing geographic distribution across races.
    surname (str): The target surname to calculate probabilities for.

    Returns:
    pd.DataFrame: BISG probabilities for the target surname.
    """
    
    # Ensure the dataframes are indexed by race for easier lookup
    surname_df = surname_df.set_index('Race/Ethnicity')
    geo_df = geo_df.set_index('Race/Ethnicity')

    # Get the distribution for the target surname across different races
    surname_dist = surname_df[surname].to_dict()

    # Calculate the BISG probabilities
    bisg_probs = {}
    total = 0
    for race, p_r_given_s in surname_dist.items():
        # q(g|r) - proportion of race in geographic area
        q_g_given_r = geo_df.at[race, '% of U.S. Population Residing in California']

        # Calculate the numerator p(r|s) * q(g|r)
        bisg_probs[race] = p_r_given_s * q_g_given_r
        total += bisg_probs[race]

    # Normalize the probabilities to sum to 1
    for race in bisg_probs:
        bisg_probs[race] /= total

    # Convert to DataFrame
    bisg_df = pd.DataFrame([bisg_probs], index=[surname])
    return bisg_df

# Example data from the images provided by the user
surname_df = pd.DataFrame({
    'Race/Ethnicity': ['Hispanic', 'White', 'Black', 'Asian and Pacific Islander',
                       'American Indian/Alaska Native', 'Multiracial'],
    'Smith': [0.0156, 0.7335, 0.2222, 0.0040, 0.0085, 0.0163]
})

geo_df = pd.DataFrame({
    'Race/Ethnicity': ['Hispanic', 'White', 'Black', 'Asian and Pacific Islander',
                       'American Indian/Alaska Native', 'Multiracial'],
    '% of U.S. Population Residing in California': [0.2776, 0.0791, 0.0603, 0.3335, 0.0786, 0.1752]
})

# Calculate BISG probabilities for 'Smith'
bisg_result = calculate_bisg(surname_df, geo_df, 'Smith')
bisg_result

,Hispanic,White,Black,Asian and Pacific Islander,American Indian/Alaska Native,Multiracial
Smith,0.053724,0.719787,0.166222,0.016549,0.008288,0.035428

In [13]:
# Dividing the selected columns by 100
columns_to_divide = ["pcthispanic", "pctwhite", "pctblack", "pctapi", "pctaian", "pct2prace"]
first_names[columns_to_divide] = first_names[columns_to_divide] / 100

# Displaying the modified dataframe
first_names

,firstname,obs,pcthispanic,pctwhite,pctblack,pctapi,pctaian,pct2prace
0,AARON,3646,0.02880,0.91607,0.03264,0.02057,0.00055,0.00137
1,ABBAS,59,0.00000,0.71186,0.03390,0.25424,0.00000,0.00000
2,ABBEY,57,0.00000,0.96491,0.03509,0.00000,0.00000,0.00000
3,ABBIE,74,0.01351,0.95946,0.02703,0.00000,0.00000,0.00000
4,ABBY,262,0.01527,0.94656,0.01527,0.02290,0.00000,0.00000
...,...,...,...,...,...,...,...,...
4246,ZOFIA,55,0.00000,1.00000,0.00000,0.00000,0.00000,0.00000
4247,ZOILA,66,0.86364,0.12121,0.01515,0.00000,0.00000,0.00000
4248,ZOLTAN,47,0.06383,0.87234,0.04255,0.02128,0.00000,0.00000
4249,ZORAN,52,0.00000,1.00000,0.00000,0.00000,0.00000,0.00000
4250,ALL OTHER FIRST NAMES,214124,0.08226,0.51422,0.11541,0.28117,0.00396,0.00298

In [14]:
# Inputs

display(block)
display(surname_2010_census)
display(first_names)

,GeoInd,geo_pr_white,geo_pr_black,geo_pr_aian,geo_pr_api,geo_pr_mult_other,geo_pr_hispanic,here,here_given_white,here_given_black,here_given_aian,here_given_api,here_given_mult_other,here_given_hispanic
0,010010201001,0.843212,0.105163,0.007648,0.005736,0.013384,0.024857,0.000002,0.000003,2.002470e-06,2.485870e-06,2.520620e-07,2.501771e-06,3.898436e-07
1,010010201002,0.860544,0.100907,0.007937,0.006803,0.006803,0.017007,0.000004,0.000005,3.240361e-06,4.350273e-06,5.041240e-07,2.144375e-06,4.498196e-07
2,010010202001,0.328826,0.622960,0.001508,0.006034,0.006034,0.034639,0.000003,0.000001,1.506023e-05,6.224386e-07,3.366078e-07,1.431817e-06,6.897234e-07
3,010010202002,0.461070,0.492253,0.001114,0.001114,0.002227,0.042222,0.000004,0.000003,1.613000e-05,6.229129e-07,8.421606e-08,7.164540e-07,1.139543e-06
4,010010203001,0.785906,0.168908,0.002690,0.005917,0.013986,0.022593,0.000008,0.000009,1.143228e-05,3.107338e-06,9.242273e-07,9.292292e-06,1.259495e-06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
217735,560459511001,0.951670,0.003515,0.011424,0.004394,0.007909,0.021090,0.000005,0.000007,1.456342e-07,8.079079e-06,4.201033e-07,3.216563e-06,7.197113e-07
217736,560459511002,0.934911,0.005917,0.013149,0.002630,0.008547,0.034845,0.000006,0.000009,3.276770e-07,1.242935e-05,3.360827e-07,4.646146e-06,1.589363e-06
217737,560459513001,0.949059,0.000000,0.012182,0.003322,0.012182,0.023256,0.000004,0.000005,0.000000e+00,6.836144e-06,2.520620e-07,3.931354e-06,6.297474e-07
217738,560459513002,0.960394,0.000000,0.013208,0.000000,0.008491,0.017908,0.000005,0.000006,0.000000e+00,8.708905e-06,0.000000e+00,3.219652e-06,5.697715e-07
217739,560459513003,0.948617,0.001976,0.006917,0.005929,0.008893,0.027668,0.000004,0.000006,7.281710e-08,4.350273e-06,5.041240e-07,3.216563e-06,8.396632e-07

,name,rank,count,prop100k,cum_prop100k,pctwhite,pctblack,pctapi,pctaian,pct2prace,pcthispanic,countmiss,remaining
0,smith,1,2442977,828.19,828.19,0.7090,0.2311,0.0050,0.0089,0.0219,0.0240,0,2.442977e+02
1,johnson,2,1932812,655.24,1483.42,0.5897,0.3463,0.0054,0.0094,0.0256,0.0236,0,2.145852e-10
2,williams,3,1625252,550.97,2034.39,0.4575,0.4768,0.0046,0.0082,0.0281,0.0249,0,-1.625252e+02
3,brown,4,1437026,487.16,2521.56,0.5795,0.3560,0.0051,0.0087,0.0255,0.0252,0,0.000000e+00
4,jones,5,1425470,483.24,3004.80,0.5519,0.3848,0.0044,0.0100,0.0261,0.0229,0,-1.425470e+02
...,...,...,...,...,...,...,...,...,...,...,...,...,...
162249,dietzmann,160975,100,0.03,90062.93,0.9600,0.0000,0.0000,0.0200,0.0000,0.0200,2,4.000000e+00
162250,dokas,160975,100,0.03,90062.96,0.9400,0.0200,0.0000,0.0000,0.0200,0.0200,3,6.000000e+00
162251,donlea,160975,100,0.03,90062.99,0.9400,0.0000,0.0000,0.0000,0.0000,0.0600,0,0.000000e+00
162252,doriott,160975,100,0.03,90063.03,0.8900,0.0000,0.0300,0.0000,0.0500,0.0300,2,6.000000e+00
162253,all other names,0,29312001,9936.97,9936.97,0.6665,0.0853,0.0797,0.0086,0.0232,0.1367,0,0.000000e+00

,firstname,obs,pcthispanic,pctwhite,pctblack,pctapi,pctaian,pct2prace
0,AARON,3646,0.02880,0.91607,0.03264,0.02057,0.00055,0.00137
1,ABBAS,59,0.00000,0.71186,0.03390,0.25424,0.00000,0.00000
2,ABBEY,57,0.00000,0.96491,0.03509,0.00000,0.00000,0.00000
3,ABBIE,74,0.01351,0.95946,0.02703,0.00000,0.00000,0.00000
4,ABBY,262,0.01527,0.94656,0.01527,0.02290,0.00000,0.00000
...,...,...,...,...,...,...,...,...
4246,ZOFIA,55,0.00000,1.00000,0.00000,0.00000,0.00000,0.00000
4247,ZOILA,66,0.86364,0.12121,0.01515,0.00000,0.00000,0.00000
4248,ZOLTAN,47,0.06383,0.87234,0.04255,0.02128,0.00000,0.00000
4249,ZORAN,52,0.00000,1.00000,0.00000,0.00000,0.00000,0.00000
4250,ALL OTHER FIRST NAMES,214124,0.08226,0.51422,0.11541,0.28117,0.00396,0.00298

In [15]:
# Will have to come back to this to follow surname and geography cleaning steps 

import pandas as pd


# Calculate the total population sum
total_population = first_names['obs'].sum()
display(total_population)

# Calculate the proportion for each row
first_names['name'] = first_names['obs'] / total_population

# Calculate counts of races
first_names['NH_White_alone'] = first_names['pctwhite']*first_names['obs']
first_names['Hispanic_Total'] = first_names['pcthispanic']*first_names['obs']
first_names['Non_Hispanic_Total'] = first_names['obs'] - first_names['Hispanic_Total']
first_names['NH_Black_alone'] = first_names['pctblack']*first_names['obs']
first_names['NH_AIAN_alone'] = first_names['pctaian']*first_names['obs']
first_names['NH_API_alone'] = first_names['pctapi']*first_names['obs']
first_names['NH_Mult_Total'] = first_names['pct2prace']*first_names['obs']

2663364

In [16]:
import pandas as pd

# Assuming first_names is your DataFrame and 'obs' is the column you want to sort by
first_names = first_names.sort_values('obs', ascending=False)

# Now sorted_df is your DataFrame sorted in descending order by 'obs'


first_names

,firstname,obs,pcthispanic,pctwhite,pctblack,pctapi,pctaian,pct2prace,name,NH_White_alone,Hispanic_Total,Non_Hispanic_Total,NH_Black_alone,NH_AIAN_alone,NH_API_alone,NH_Mult_Total
4250,ALL OTHER FIRST NAMES,214124,0.08226,0.51422,0.11541,0.28117,0.00396,0.00298,0.080396,110106.84328,17613.84024,196510.15976,24712.05084,847.93104,60205.24508,638.08952
2782,MICHAEL,59532,0.01693,0.94363,0.02142,0.01592,0.00092,0.00118,0.022352,56176.18116,1007.87676,58524.12324,1275.17544,54.76944,947.74944,70.24776
1934,JOHN,51696,0.01729,0.94384,0.01729,0.01932,0.00124,0.00101,0.019410,48792.75264,893.82384,50802.17616,893.82384,64.10304,998.76672,52.21296
925,DAVID,48307,0.03223,0.92808,0.01393,0.02393,0.00106,0.00077,0.018138,44832.76056,1556.93461,46750.06539,672.91651,51.20542,1155.98651,37.19639
3327,ROBERT,48260,0.02138,0.94511,0.02161,0.00924,0.00128,0.00137,0.018120,45611.00860,1031.79880,47228.20120,1042.89860,61.77280,445.92240,66.11620
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3712,STEFFEN,15,0.00000,1.00000,0.00000,0.00000,0.00000,0.00000,0.000006,15.00000,0.00000,15.00000,0.00000,0.00000,0.00000,0.00000
3759,SUSETTE,15,0.00000,1.00000,0.00000,0.00000,0.00000,0.00000,0.000006,15.00000,0.00000,15.00000,0.00000,0.00000,0.00000,0.00000
3023,OBDULIA,15,1.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.000006,0.00000,15.00000,0.00000,0.00000,0.00000,0.00000,0.00000
4148,WITOLD,15,0.00000,1.00000,0.00000,0.00000,0.00000,0.00000,0.000006,15.00000,0.00000,15.00000,0.00000,0.00000,0.00000,0.00000
555,CAMIE,15,0.00000,1.00000,0.00000,0.00000,0.00000,0.00000,0.000006,15.00000,0.00000,15.00000,0.00000,0.00000,0.00000,0.00000

In [17]:
# Will have to come back to this to follow similar cleaning steps from surname and geography 


first_names['name_given_white'] = first_names['NH_White_alone'] / first_names['NH_White_alone'].sum()
#Continue with name_given_... for all 6 categories

first_names['name_pr_white'] = first_names['NH_White_alone']/first_names['obs']
#Continue with name_pr_... for all 6 categories for verification

first_names['name_given_black'] = first_names['NH_Black_alone'] / first_names['NH_Black_alone'].sum()


first_names['name_given_api'] = first_names['NH_API_alone'] / first_names['NH_API_alone'].sum()
first_names['name_given_aian'] = first_names['NH_AIAN_alone'] / first_names['NH_AIAN_alone'].sum()
first_names['name_given_hispanic'] = first_names['Hispanic_Total'] / first_names['Hispanic_Total'].sum()
first_names['name_given_mult'] = first_names['NH_Mult_Total'] / first_names['NH_Mult_Total'].sum()

In [18]:
display(first_names)

,firstname,obs,pcthispanic,pctwhite,pctblack,pctapi,pctaian,pct2prace,name,NH_White_alone,...,NH_AIAN_alone,NH_API_alone,NH_Mult_Total,name_given_white,name_pr_white,name_given_black,name_given_api,name_given_aian,name_given_hispanic,name_given_mult
4250,ALL OTHER FIRST NAMES,214124,0.08226,0.51422,0.11541,0.28117,0.00396,0.00298,0.080396,110106.84328,...,847.93104,60205.24508,638.08952,0.050215,0.51422,0.220670,0.360647,0.191529,0.096170,0.154447
2782,MICHAEL,59532,0.01693,0.94363,0.02142,0.01592,0.00092,0.00118,0.022352,56176.18116,...,54.76944,947.74944,70.24776,0.025619,0.94363,0.011387,0.005677,0.012371,0.005503,0.017003
1934,JOHN,51696,0.01729,0.94384,0.01729,0.01932,0.00124,0.00101,0.019410,48792.75264,...,64.10304,998.76672,52.21296,0.022252,0.94384,0.007982,0.005983,0.014479,0.004880,0.012638
925,DAVID,48307,0.03223,0.92808,0.01393,0.02393,0.00106,0.00077,0.018138,44832.76056,...,51.20542,1155.98651,37.19639,0.020446,0.92808,0.006009,0.006925,0.011566,0.008501,0.009003
3327,ROBERT,48260,0.02138,0.94511,0.02161,0.00924,0.00128,0.00137,0.018120,45611.00860,...,61.77280,445.92240,66.11620,0.020801,0.94511,0.009313,0.002671,0.013953,0.005634,0.016003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3712,STEFFEN,15,0.00000,1.00000,0.00000,0.00000,0.00000,0.00000,0.000006,15.00000,...,0.00000,0.00000,0.00000,0.000007,1.00000,0.000000,0.000000,0.000000,0.000000,0.000000
3759,SUSETTE,15,0.00000,1.00000,0.00000,0.00000,0.00000,0.00000,0.000006,15.00000,...,0.00000,0.00000,0.00000,0.000007,1.00000,0.000000,0.000000,0.000000,0.000000,0.000000
3023,OBDULIA,15,1.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.000006,0.00000,...,0.00000,0.00000,0.00000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000082,0.000000
4148,WITOLD,15,0.00000,1.00000,0.00000,0.00000,0.00000,0.00000,0.000006,15.00000,...,0.00000,0.00000,0.00000,0.000007,1.00000,0.000000,0.000000,0.000000,0.000000,0.000000
555,CAMIE,15,0.00000,1.00000,0.00000,0.00000,0.00000,0.00000,0.000006,15.00000,...,0.00000,0.00000,0.00000,0.000007,1.00000,0.000000,0.000000,0.000000,0.000000,0.000000

In [19]:
display(block)
display(first_names)
display(surname_2010_census)

,GeoInd,geo_pr_white,geo_pr_black,geo_pr_aian,geo_pr_api,geo_pr_mult_other,geo_pr_hispanic,here,here_given_white,here_given_black,here_given_aian,here_given_api,here_given_mult_other,here_given_hispanic
0,010010201001,0.843212,0.105163,0.007648,0.005736,0.013384,0.024857,0.000002,0.000003,2.002470e-06,2.485870e-06,2.520620e-07,2.501771e-06,3.898436e-07
1,010010201002,0.860544,0.100907,0.007937,0.006803,0.006803,0.017007,0.000004,0.000005,3.240361e-06,4.350273e-06,5.041240e-07,2.144375e-06,4.498196e-07
2,010010202001,0.328826,0.622960,0.001508,0.006034,0.006034,0.034639,0.000003,0.000001,1.506023e-05,6.224386e-07,3.366078e-07,1.431817e-06,6.897234e-07
3,010010202002,0.461070,0.492253,0.001114,0.001114,0.002227,0.042222,0.000004,0.000003,1.613000e-05,6.229129e-07,8.421606e-08,7.164540e-07,1.139543e-06
4,010010203001,0.785906,0.168908,0.002690,0.005917,0.013986,0.022593,0.000008,0.000009,1.143228e-05,3.107338e-06,9.242273e-07,9.292292e-06,1.259495e-06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
217735,560459511001,0.951670,0.003515,0.011424,0.004394,0.007909,0.021090,0.000005,0.000007,1.456342e-07,8.079079e-06,4.201033e-07,3.216563e-06,7.197113e-07
217736,560459511002,0.934911,0.005917,0.013149,0.002630,0.008547,0.034845,0.000006,0.000009,3.276770e-07,1.242935e-05,3.360827e-07,4.646146e-06,1.589363e-06
217737,560459513001,0.949059,0.000000,0.012182,0.003322,0.012182,0.023256,0.000004,0.000005,0.000000e+00,6.836144e-06,2.520620e-07,3.931354e-06,6.297474e-07
217738,560459513002,0.960394,0.000000,0.013208,0.000000,0.008491,0.017908,0.000005,0.000006,0.000000e+00,8.708905e-06,0.000000e+00,3.219652e-06,5.697715e-07
217739,560459513003,0.948617,0.001976,0.006917,0.005929,0.008893,0.027668,0.000004,0.000006,7.281710e-08,4.350273e-06,5.041240e-07,3.216563e-06,8.396632e-07

,firstname,obs,pcthispanic,pctwhite,pctblack,pctapi,pctaian,pct2prace,name,NH_White_alone,...,NH_AIAN_alone,NH_API_alone,NH_Mult_Total,name_given_white,name_pr_white,name_given_black,name_given_api,name_given_aian,name_given_hispanic,name_given_mult
4250,ALL OTHER FIRST NAMES,214124,0.08226,0.51422,0.11541,0.28117,0.00396,0.00298,0.080396,110106.84328,...,847.93104,60205.24508,638.08952,0.050215,0.51422,0.220670,0.360647,0.191529,0.096170,0.154447
2782,MICHAEL,59532,0.01693,0.94363,0.02142,0.01592,0.00092,0.00118,0.022352,56176.18116,...,54.76944,947.74944,70.24776,0.025619,0.94363,0.011387,0.005677,0.012371,0.005503,0.017003
1934,JOHN,51696,0.01729,0.94384,0.01729,0.01932,0.00124,0.00101,0.019410,48792.75264,...,64.10304,998.76672,52.21296,0.022252,0.94384,0.007982,0.005983,0.014479,0.004880,0.012638
925,DAVID,48307,0.03223,0.92808,0.01393,0.02393,0.00106,0.00077,0.018138,44832.76056,...,51.20542,1155.98651,37.19639,0.020446,0.92808,0.006009,0.006925,0.011566,0.008501,0.009003
3327,ROBERT,48260,0.02138,0.94511,0.02161,0.00924,0.00128,0.00137,0.018120,45611.00860,...,61.77280,445.92240,66.11620,0.020801,0.94511,0.009313,0.002671,0.013953,0.005634,0.016003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3712,STEFFEN,15,0.00000,1.00000,0.00000,0.00000,0.00000,0.00000,0.000006,15.00000,...,0.00000,0.00000,0.00000,0.000007,1.00000,0.000000,0.000000,0.000000,0.000000,0.000000
3759,SUSETTE,15,0.00000,1.00000,0.00000,0.00000,0.00000,0.00000,0.000006,15.00000,...,0.00000,0.00000,0.00000,0.000007,1.00000,0.000000,0.000000,0.000000,0.000000,0.000000
3023,OBDULIA,15,1.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.000006,0.00000,...,0.00000,0.00000,0.00000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000082,0.000000
4148,WITOLD,15,0.00000,1.00000,0.00000,0.00000,0.00000,0.00000,0.000006,15.00000,...,0.00000,0.00000,0.00000,0.000007,1.00000,0.000000,0.000000,0.000000,0.000000,0.000000
555,CAMIE,15,0.00000,1.00000,0.00000,0.00000,0.00000,0.00000,0.000006,15.00000,...,0.00000,0.00000,0.00000,0.000007,1.00000,0.000000,0.000000,0.000000,0.000000,0.000000

,name,rank,count,prop100k,cum_prop100k,pctwhite,pctblack,pctapi,pctaian,pct2prace,pcthispanic,countmiss,remaining
0,smith,1,2442977,828.19,828.19,0.7090,0.2311,0.0050,0.0089,0.0219,0.0240,0,2.442977e+02
1,johnson,2,1932812,655.24,1483.42,0.5897,0.3463,0.0054,0.0094,0.0256,0.0236,0,2.145852e-10
2,williams,3,1625252,550.97,2034.39,0.4575,0.4768,0.0046,0.0082,0.0281,0.0249,0,-1.625252e+02
3,brown,4,1437026,487.16,2521.56,0.5795,0.3560,0.0051,0.0087,0.0255,0.0252,0,0.000000e+00
4,jones,5,1425470,483.24,3004.80,0.5519,0.3848,0.0044,0.0100,0.0261,0.0229,0,-1.425470e+02
...,...,...,...,...,...,...,...,...,...,...,...,...,...
162249,dietzmann,160975,100,0.03,90062.93,0.9600,0.0000,0.0000,0.0200,0.0000,0.0200,2,4.000000e+00
162250,dokas,160975,100,0.03,90062.96,0.9400,0.0200,0.0000,0.0000,0.0200,0.0200,3,6.000000e+00
162251,donlea,160975,100,0.03,90062.99,0.9400,0.0000,0.0000,0.0000,0.0000,0.0600,0,0.000000e+00
162252,doriott,160975,100,0.03,90063.03,0.8900,0.0000,0.0300,0.0000,0.0500,0.0300,2,6.000000e+00
162253,all other names,0,29312001,9936.97,9936.97,0.6665,0.0853,0.0797,0.0086,0.0232,0.1367,0,0.000000e+00

In [20]:
# get the dfs for tract and county 
tract.rename(columns={'GeoInd': 'GeoInd_Tract'}, inplace=True)

tract

,GeoInd_Tract,geo_pr_white,geo_pr_black,geo_pr_aian,geo_pr_api,geo_pr_mult_other,geo_pr_hispanic,here,here_given_white,here_given_black,here_given_aian,here_given_api,here_given_mult_other,here_given_hispanic
0,01001020100,0.854093,0.102491,0.007829,0.006406,0.009253,0.019929,0.000006,0.000008,5.243115e-06,0.000007,7.562219e-07,0.000005,8.396632e-07
1,01001020200,0.404900,0.547769,0.001281,0.003203,0.003844,0.039003,0.000007,0.000004,3.119326e-05,0.000001,4.209635e-07,0.000002,1.829266e-06
2,01001020300,0.779421,0.175764,0.003232,0.008889,0.011718,0.020976,0.000011,0.000012,1.586472e-05,0.000005,1.851594e-06,0.000010,1.559375e-06
3,01001020400,0.928211,0.039158,0.002670,0.005933,0.008899,0.015129,0.000014,0.000020,4.806188e-06,0.000006,1.680493e-06,0.000011,1.529387e-06
4,01001020500,0.810209,0.120314,0.003949,0.027643,0.010926,0.026959,0.000032,0.000039,3.331073e-05,0.000019,1.766189e-05,0.000030,6.147534e-06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73052,56043000200,0.913186,0.001638,0.007781,0.004505,0.008190,0.064701,0.000010,0.000014,1.456421e-07,0.000012,9.242712e-07,0.000007,4.738100e-06
73053,56043000301,0.834254,0.002511,0.005023,0.008538,0.011552,0.138122,0.000008,0.000011,1.820526e-07,0.000006,1.428419e-06,0.000008,8.246692e-06
73054,56043000302,0.850622,0.004668,0.006224,0.004668,0.008817,0.125000,0.000008,0.000010,3.276947e-07,0.000007,7.562219e-07,0.000006,7.227101e-06
73055,56045951100,0.942083,0.004889,0.012411,0.003385,0.008274,0.028958,0.000011,0.000016,4.733367e-07,0.000021,7.562219e-07,0.000008,2.309074e-06
73056,56045951300,0.952949,0.000672,0.010756,0.003025,0.009748,0.022849,0.000013,0.000018,7.284609e-08,0.000020,7.564820e-07,0.000010,2.039182e-06

In [21]:
zip

,ZCTA5,geo_pr_white,geo_pr_black,geo_pr_aian,geo_pr_api,geo_pr_mult_other,geo_pr_hispanic,here,here_given_white,here_given_black,here_given_aian,here_given_api,here_given_mult_other,here_given_hispanic
0,01001,0.930967,0.015967,0.000879,0.019116,0.007104,0.025967,5.828382e-05,8.083407e-05,7.949171e-06,0.000007,2.196134e-05,3.471824e-05,1.064627e-05
1,01002,0.766643,0.043234,0.001164,0.100798,0.022038,0.066123,1.065787e-04,1.217239e-04,3.935993e-05,0.000018,2.117573e-04,1.969390e-04,4.957264e-05
2,01003,0.751226,0.054109,0.001261,0.115879,0.026473,0.051052,4.417650e-05,4.943953e-05,2.041858e-05,0.000008,1.009049e-04,9.805610e-05,1.586445e-05
3,01005,0.968879,0.005805,0.002111,0.003958,0.008443,0.010804,1.617929e-05,2.335293e-05,8.022543e-07,0.000005,1.262216e-06,1.145407e-05,1.229569e-06
4,01007,0.934514,0.013614,0.001553,0.020832,0.009228,0.020259,4.671744e-05,6.503945e-05,5.432791e-06,0.000011,1.918335e-05,3.614754e-05,6.657669e-06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32984,99923,0.922078,0.000000,0.025974,0.012987,0.012987,0.025974,3.282755e-07,4.509395e-07,0.000000e+00,0.000001,8.403564e-08,3.574631e-07,5.997900e-08
32985,99925,0.457096,0.003300,0.438944,0.006601,0.074257,0.019802,2.583571e-06,1.759299e-06,7.283507e-08,0.000165,3.361426e-07,1.608584e-05,3.598740e-07
32986,99926,0.123436,0.004822,0.815833,0.006750,0.037609,0.011550,4.429588e-06,8.145477e-07,1.824430e-07,0.000527,5.893973e-07,1.396826e-05,3.598740e-07
32987,99927,0.755814,0.000000,0.093023,0.011628,0.081395,0.058140,3.666454e-07,4.128320e-07,0.000000e+00,0.000005,8.403564e-08,2.502241e-06,1.499475e-07
32988,99929,0.756732,0.000549,0.152664,0.011532,0.066447,0.012075,7.767766e-06,8.756902e-06,3.643778e-08,0.000173,1.765729e-06,4.327707e-05,6.597690e-07

In [22]:
#edge cases and assumptions 

# need to calculate g|r and f|r from available data following how other studies have done it

#impute missing values how other studies have done it for surname

#smith-jones will take smith first if available, then jones, for example
#jr,sr,2nd,3rd,4rth,etc. to be deleted from surname before being put into the function

#use block if availble, then tract, then county 

# use F,S,G if availble, only S,G if F isn't availble, only F,G if S isn't availble, only F,S if G isn't availble, only one if the other two are available
# or would it be more beneficial to use "all other names" if a name isn't availble, or will this throw it off too much?

## INPUTS FINAL [Still Working] ##

In [23]:
block.rename(columns={'GeoInd': 'GeoInd_Block'}, inplace=True)

In [24]:
zip_code = zip.copy()
zip_code_df = zip_code.copy()

In [25]:
first_names.rename(columns={'name_given_mult': 'name_given_mult_other'}, inplace=True)

In [26]:
display(block)
display(tract)
display(zip_code)
display(first_names)
display(surname_2010_census)

,GeoInd_Block,geo_pr_white,geo_pr_black,geo_pr_aian,geo_pr_api,geo_pr_mult_other,geo_pr_hispanic,here,here_given_white,here_given_black,here_given_aian,here_given_api,here_given_mult_other,here_given_hispanic
0,010010201001,0.843212,0.105163,0.007648,0.005736,0.013384,0.024857,0.000002,0.000003,2.002470e-06,2.485870e-06,2.520620e-07,2.501771e-06,3.898436e-07
1,010010201002,0.860544,0.100907,0.007937,0.006803,0.006803,0.017007,0.000004,0.000005,3.240361e-06,4.350273e-06,5.041240e-07,2.144375e-06,4.498196e-07
2,010010202001,0.328826,0.622960,0.001508,0.006034,0.006034,0.034639,0.000003,0.000001,1.506023e-05,6.224386e-07,3.366078e-07,1.431817e-06,6.897234e-07
3,010010202002,0.461070,0.492253,0.001114,0.001114,0.002227,0.042222,0.000004,0.000003,1.613000e-05,6.229129e-07,8.421606e-08,7.164540e-07,1.139543e-06
4,010010203001,0.785906,0.168908,0.002690,0.005917,0.013986,0.022593,0.000008,0.000009,1.143228e-05,3.107338e-06,9.242273e-07,9.292292e-06,1.259495e-06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
217735,560459511001,0.951670,0.003515,0.011424,0.004394,0.007909,0.021090,0.000005,0.000007,1.456342e-07,8.079079e-06,4.201033e-07,3.216563e-06,7.197113e-07
217736,560459511002,0.934911,0.005917,0.013149,0.002630,0.008547,0.034845,0.000006,0.000009,3.276770e-07,1.242935e-05,3.360827e-07,4.646146e-06,1.589363e-06
217737,560459513001,0.949059,0.000000,0.012182,0.003322,0.012182,0.023256,0.000004,0.000005,0.000000e+00,6.836144e-06,2.520620e-07,3.931354e-06,6.297474e-07
217738,560459513002,0.960394,0.000000,0.013208,0.000000,0.008491,0.017908,0.000005,0.000006,0.000000e+00,8.708905e-06,0.000000e+00,3.219652e-06,5.697715e-07
217739,560459513003,0.948617,0.001976,0.006917,0.005929,0.008893,0.027668,0.000004,0.000006,7.281710e-08,4.350273e-06,5.041240e-07,3.216563e-06,8.396632e-07

,GeoInd_Tract,geo_pr_white,geo_pr_black,geo_pr_aian,geo_pr_api,geo_pr_mult_other,geo_pr_hispanic,here,here_given_white,here_given_black,here_given_aian,here_given_api,here_given_mult_other,here_given_hispanic
0,01001020100,0.854093,0.102491,0.007829,0.006406,0.009253,0.019929,0.000006,0.000008,5.243115e-06,0.000007,7.562219e-07,0.000005,8.396632e-07
1,01001020200,0.404900,0.547769,0.001281,0.003203,0.003844,0.039003,0.000007,0.000004,3.119326e-05,0.000001,4.209635e-07,0.000002,1.829266e-06
2,01001020300,0.779421,0.175764,0.003232,0.008889,0.011718,0.020976,0.000011,0.000012,1.586472e-05,0.000005,1.851594e-06,0.000010,1.559375e-06
3,01001020400,0.928211,0.039158,0.002670,0.005933,0.008899,0.015129,0.000014,0.000020,4.806188e-06,0.000006,1.680493e-06,0.000011,1.529387e-06
4,01001020500,0.810209,0.120314,0.003949,0.027643,0.010926,0.026959,0.000032,0.000039,3.331073e-05,0.000019,1.766189e-05,0.000030,6.147534e-06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73052,56043000200,0.913186,0.001638,0.007781,0.004505,0.008190,0.064701,0.000010,0.000014,1.456421e-07,0.000012,9.242712e-07,0.000007,4.738100e-06
73053,56043000301,0.834254,0.002511,0.005023,0.008538,0.011552,0.138122,0.000008,0.000011,1.820526e-07,0.000006,1.428419e-06,0.000008,8.246692e-06
73054,56043000302,0.850622,0.004668,0.006224,0.004668,0.008817,0.125000,0.000008,0.000010,3.276947e-07,0.000007,7.562219e-07,0.000006,7.227101e-06
73055,56045951100,0.942083,0.004889,0.012411,0.003385,0.008274,0.028958,0.000011,0.000016,4.733367e-07,0.000021,7.562219e-07,0.000008,2.309074e-06
73056,56045951300,0.952949,0.000672,0.010756,0.003025,0.009748,0.022849,0.000013,0.000018,7.284609e-08,0.000020,7.564820e-07,0.000010,2.039182e-06

,ZCTA5,geo_pr_white,geo_pr_black,geo_pr_aian,geo_pr_api,geo_pr_mult_other,geo_pr_hispanic,here,here_given_white,here_given_black,here_given_aian,here_given_api,here_given_mult_other,here_given_hispanic
0,01001,0.930967,0.015967,0.000879,0.019116,0.007104,0.025967,5.828382e-05,8.083407e-05,7.949171e-06,0.000007,2.196134e-05,3.471824e-05,1.064627e-05
1,01002,0.766643,0.043234,0.001164,0.100798,0.022038,0.066123,1.065787e-04,1.217239e-04,3.935993e-05,0.000018,2.117573e-04,1.969390e-04,4.957264e-05
2,01003,0.751226,0.054109,0.001261,0.115879,0.026473,0.051052,4.417650e-05,4.943953e-05,2.041858e-05,0.000008,1.009049e-04,9.805610e-05,1.586445e-05
3,01005,0.968879,0.005805,0.002111,0.003958,0.008443,0.010804,1.617929e-05,2.335293e-05,8.022543e-07,0.000005,1.262216e-06,1.145407e-05,1.229569e-06
4,01007,0.934514,0.013614,0.001553,0.020832,0.009228,0.020259,4.671744e-05,6.503945e-05,5.432791e-06,0.000011,1.918335e-05,3.614754e-05,6.657669e-06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32984,99923,0.922078,0.000000,0.025974,0.012987,0.012987,0.025974,3.282755e-07,4.509395e-07,0.000000e+00,0.000001,8.403564e-08,3.574631e-07,5.997900e-08
32985,99925,0.457096,0.003300,0.438944,0.006601,0.074257,0.019802,2.583571e-06,1.759299e-06,7.283507e-08,0.000165,3.361426e-07,1.608584e-05,3.598740e-07
32986,99926,0.123436,0.004822,0.815833,0.006750,0.037609,0.011550,4.429588e-06,8.145477e-07,1.824430e-07,0.000527,5.893973e-07,1.396826e-05,3.598740e-07
32987,99927,0.755814,0.000000,0.093023,0.011628,0.081395,0.058140,3.666454e-07,4.128320e-07,0.000000e+00,0.000005,8.403564e-08,2.502241e-06,1.499475e-07
32988,99929,0.756732,0.000549,0.152664,0.011532,0.066447,0.012075,7.767766e-06,8.756902e-06,3.643778e-08,0.000173,1.765729e-06,4.327707e-05,6.597690e-07

,firstname,obs,pcthispanic,pctwhite,pctblack,pctapi,pctaian,pct2prace,name,NH_White_alone,...,NH_AIAN_alone,NH_API_alone,NH_Mult_Total,name_given_white,name_pr_white,name_given_black,name_given_api,name_given_aian,name_given_hispanic,name_given_mult_other
4250,ALL OTHER FIRST NAMES,214124,0.08226,0.51422,0.11541,0.28117,0.00396,0.00298,0.080396,110106.84328,...,847.93104,60205.24508,638.08952,0.050215,0.51422,0.220670,0.360647,0.191529,0.096170,0.154447
2782,MICHAEL,59532,0.01693,0.94363,0.02142,0.01592,0.00092,0.00118,0.022352,56176.18116,...,54.76944,947.74944,70.24776,0.025619,0.94363,0.011387,0.005677,0.012371,0.005503,0.017003
1934,JOHN,51696,0.01729,0.94384,0.01729,0.01932,0.00124,0.00101,0.019410,48792.75264,...,64.10304,998.76672,52.21296,0.022252,0.94384,0.007982,0.005983,0.014479,0.004880,0.012638
925,DAVID,48307,0.03223,0.92808,0.01393,0.02393,0.00106,0.00077,0.018138,44832.76056,...,51.20542,1155.98651,37.19639,0.020446,0.92808,0.006009,0.006925,0.011566,0.008501,0.009003
3327,ROBERT,48260,0.02138,0.94511,0.02161,0.00924,0.00128,0.00137,0.018120,45611.00860,...,61.77280,445.92240,66.11620,0.020801,0.94511,0.009313,0.002671,0.013953,0.005634,0.016003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3712,STEFFEN,15,0.00000,1.00000,0.00000,0.00000,0.00000,0.00000,0.000006,15.00000,...,0.00000,0.00000,0.00000,0.000007,1.00000,0.000000,0.000000,0.000000,0.000000,0.000000
3759,SUSETTE,15,0.00000,1.00000,0.00000,0.00000,0.00000,0.00000,0.000006,15.00000,...,0.00000,0.00000,0.00000,0.000007,1.00000,0.000000,0.000000,0.000000,0.000000,0.000000
3023,OBDULIA,15,1.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.000006,0.00000,...,0.00000,0.00000,0.00000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000082,0.000000
4148,WITOLD,15,0.00000,1.00000,0.00000,0.00000,0.00000,0.00000,0.000006,15.00000,...,0.00000,0.00000,0.00000,0.000007,1.00000,0.000000,0.000000,0.000000,0.000000,0.000000
555,CAMIE,15,0.00000,1.00000,0.00000,0.00000,0.00000,0.00000,0.000006,15.00000,...,0.00000,0.00000,0.00000,0.000007,1.00000,0.000000,0.000000,0.000000,0.000000,0.000000

,name,rank,count,prop100k,cum_prop100k,pctwhite,pctblack,pctapi,pctaian,pct2prace,pcthispanic,countmiss,remaining
0,smith,1,2442977,828.19,828.19,0.7090,0.2311,0.0050,0.0089,0.0219,0.0240,0,2.442977e+02
1,johnson,2,1932812,655.24,1483.42,0.5897,0.3463,0.0054,0.0094,0.0256,0.0236,0,2.145852e-10
2,williams,3,1625252,550.97,2034.39,0.4575,0.4768,0.0046,0.0082,0.0281,0.0249,0,-1.625252e+02
3,brown,4,1437026,487.16,2521.56,0.5795,0.3560,0.0051,0.0087,0.0255,0.0252,0,0.000000e+00
4,jones,5,1425470,483.24,3004.80,0.5519,0.3848,0.0044,0.0100,0.0261,0.0229,0,-1.425470e+02
...,...,...,...,...,...,...,...,...,...,...,...,...,...
162249,dietzmann,160975,100,0.03,90062.93,0.9600,0.0000,0.0000,0.0200,0.0000,0.0200,2,4.000000e+00
162250,dokas,160975,100,0.03,90062.96,0.9400,0.0200,0.0000,0.0000,0.0200,0.0200,3,6.000000e+00
162251,donlea,160975,100,0.03,90062.99,0.9400,0.0000,0.0000,0.0000,0.0000,0.0600,0,0.000000e+00
162252,doriott,160975,100,0.03,90063.03,0.8900,0.0000,0.0300,0.0000,0.0500,0.0300,2,6.000000e+00
162253,all other names,0,29312001,9936.97,9936.97,0.6665,0.0853,0.0797,0.0086,0.0232,0.1367,0,0.000000e+00

# BISFG Implementation #

In [27]:
block.to_csv(r'/Users/Ben.Schneider/Downloads/block.csv', index=False)
tract.to_csv(r'/Users/Ben.Schneider/Downloads/tract.csv', index=False)
zip_code.to_csv(r'/Users/Ben.Schneider/Downloads/zip_code.csv', index=False)
first_names.to_csv(r'/Users/Ben.Schneider/Downloads/first_names.csv', index=False)
surname_2010_census.to_csv(r'/Users/Ben.Schneider/Downloads/surname_2010_census.csv', index=False)

In [28]:
# Manual Test 

# Michael Smith 01001 Numerator using white
p_r_s = 0.7090
p_f_r = 0.025619
p_g_r = 0.00008083407 

p_r_s*p_f_r*p_g_r

1.4682596198849698e-06

In [30]:
numer_test = 1.4682772969024386e-06
denom_test = 1.4682772969024386e-06 + 2.0918298682072968e-08 + 8.224538714340178e-10 + 6.234044474774173e-10 + 1.2927992052677377e-08 + 1.4060575832427113e-09

In [35]:
display(numer_test)
display(denom_test)
display(numer_test/denom_test)

1.4682772969024386e-06

1.5049755035393431e-06

0.975615412642532

In [37]:
# Need to fix missing stuff (maybe use all other names), and hyphens

In [ ]:
# Incorporate "All other names" for names that are missing from the dataframe

In [45]:
# Dont need to go into detail on slides into how the inference works. Just that u can use bayesian inference to calculate race 

# First slide is regulatory / whats its used for can lean on aliya

In [130]:
import pandas as pd
import numpy as np

def calculate_bisfg_probabilities(input_df, block, tract, zip_code_df, first_names, surname_2010_census):
    """
    Calculate the Bayesian Improved Surname Geocoding (BISFG) probabilities for each racial group.

    Parameters:
    input_df (DataFrame): DataFrame containing the columns 'firstname', 'name', and may include 'GeoInd_Block', 'GeoInd_Tract', 'ZCTA5'.
    block (DataFrame): DataFrame containing block-level geographical data.
    tract (DataFrame): DataFrame containing tract-level geographical data.
    zip_code_df (DataFrame): DataFrame containing ZIP code-level geographical data.
    first_names (DataFrame): DataFrame containing probabilities based on first names, including a row for 'ALL OTHER FIRST NAMES'.
    surname_2010_census (DataFrame): DataFrame containing probabilities based on surnames, including a row for 'all other names'.

    Returns:
    DataFrame: A DataFrame with the BISFG probabilities for each racial group.
    """
    
    # Standardize the 'firstname' and 'name' columns for consistency in matching
    input_df['firstname'] = input_df['firstname'].str.upper()
    input_df['name'] = input_df['name'].str.lower().str.replace('-', '_')

    # Copy the input DataFrame to keep the original data intact
    output_df = input_df.copy()

    # Define the suffixes for the racial groups in the surname probability dataset
    race_suffixes = {
        'white': 'white', 'black': 'black', 'aian': 'aian',
        'api': 'api', 'mult_other': '2prace', 'hispanic': 'hispanic'
    }

    # Define the function to calculate the BISFG probability for a row
    def bisfg_probability(row, race_key, race_suffix):
        p_r_s = p_f_r = p_g_r = 1

        # Handle hyphenated surnames by splitting and checking each part
        surnames = row.get('name', '').split('_')
        found_surname = False
        for surname in surnames:
            # Check if the surname is in the surname_2010_census dataframe
            matching_surnames = surname_2010_census[surname_2010_census['name'] == surname]
            if not matching_surnames.empty:
                p_r_s = matching_surnames[f'pct{race_suffix}'].iloc[0]
                found_surname = True
                break

        # Use 'all other names' probabilities if surname is not found
        if not found_surname:
            p_r_s = surname_2010_census[surname_2010_census['name'] == 'all other names'][f'pct{race_suffix}'].iloc[0]

        # Check for the first name in the first names dataset and get its probability
        firstname = row.get('firstname', '')
        matching_firstnames = first_names[first_names['firstname'] == firstname]
        if not matching_firstnames.empty:
            p_f_r = matching_firstnames[f'name_given_{race_key}'].iloc[0]
        else:
            # Use 'ALL OTHER FIRST NAMES' probabilities if firstname is not found
            p_f_r = first_names[first_names['firstname'] == 'ALL OTHER FIRST NAMES'][f'name_given_{race_key}'].iloc[0]

        # Determine the geography-based probability using the block, tract, or ZIP code data
        if 'GeoInd_Block' in input_df.columns and row.get('GeoInd_Block') and row['GeoInd_Block'] in block['GeoInd_Block'].values:
            p_g_r = block[block['GeoInd_Block'] == row['GeoInd_Block']][f'here_given_{race_key}'].iloc[0]
        elif 'GeoInd_Tract' in input_df.columns and row.get('GeoInd_Tract') and row['GeoInd_Tract'] in tract['GeoInd_Tract'].values:
            p_g_r = tract[tract['GeoInd_Tract'] == row['GeoInd_Tract']][f'here_given_{race_key}'].iloc[0]
        elif 'ZCTA5' in input_df.columns and row.get('ZCTA5') and row['ZCTA5'] in zip_code_df['ZCTA5'].values:
            p_g_r = zip_code_df[zip_code_df['ZCTA5'] == row['ZCTA5']][f'here_given_{race_key}'].iloc[0]
        else:
            p_g_r = 1

        # Calculate the numerator of the BISFG probability
        numerator = p_r_s * p_f_r * p_g_r
        
        # Calculate the denominator as the sum of all possible combinations of surname, firstname, and geography probabilities
        denominator = sum(
            p_surname * p_firstname * p_geography
            for key, suffix in race_suffixes.items()
            for part in surname.split('_')
            for geo_df, geo_col in [(block, 'GeoInd_Block'), (tract, 'GeoInd_Tract'), (zip_code_df, 'ZCTA5')]
            if part in surname_2010_census['name'].values
            for p_surname in [surname_2010_census[surname_2010_census['name'] == part][f'pct{suffix}'].iloc[0]]
            if firstname in first_names['firstname'].values
            for p_firstname in [first_names[first_names['firstname'] == firstname][f'name_given_{key}'].iloc[0]]
            if row.get(geo_col) in geo_df[geo_col].values
            for p_geography in [geo_df[geo_df[geo_col] == row.get(geo_col)][f'here_given_{key}'].iloc[0]]
        )


        # Print numerator and denominator
        #print(f"Numerator for {race_key}: {numerator}")
        #print(f"Denominator for {race_key}: {denominator}")

        # Return the BISFG probability for the row, handling division by zero
        return numerator / denominator if denominator != 0 else np.nan
       
    # Calculate the BISFG probabilities for each racial group and add them to the output DataFrame
    for key, suffix in race_suffixes.items():
        output_df[f'bisfg_{key}'] = input_df.apply(lambda row: bisfg_probability(row, key, suffix), axis=1)

    return output_df

In [131]:
# Example usage of the function

# Create the input DataFrame
input_df = pd.DataFrame({
    'firstname': ['MICHAEL'],
    'name': ['johnson'],
    'ZCTA5': ['01001']
})

# Apply the function to the input DataFrame
result_df = calculate_bisfg_probabilities(input_df, block, tract, zip_code_df, first_names, surname_2010_census)

# result_df will have the BISFG probabilities
display(result_df)

,firstname,name,ZCTA5,bisfg_white,bisfg_black,bisfg_aian,bisfg_api,bisfg_mult_other,bisfg_hispanic
0,MICHAEL,johnson,01001,0.961134,0.02467,0.000684,0.00053,0.011894,0.001088

In [132]:
1.221217379384158e-06+ 3.134576734574587e-08+8.68659145110086e-10+6.732768032756107e-10+1.511217335838086e-08+1.3826232901886664e-09

1.2705998793268588e-06

In [133]:
1.221217379384158e-06/1.2705998793268588e-06

0.9611344997381371

In [134]:
# Example usage of the function

# Create the input DataFrame
input_df = pd.DataFrame({
    'firstname': ['MICHAEL','Ben','Rachel','Ben','Ben','Ben','Rachel','Rachel','Jamal','Jamal','Ben','Andy','Ben','Anna','Dinglebobby'],
    'name': ['smith','schneider','zhitnitsky','pickett','schneider-smith','smith-schneider','berg','schneider','Harris','Harris','White','Lin','Smith','Wu','Lin'],
    'ZCTA5': ['01001','94536','94109','95618','94536','94536','91361','97203','90220','93405','90210','94536','94536','94109','94536']
})

# Apply the function to the input DataFrame
result_df = calculate_bisfg_probabilities(input_df, block, tract, zip_code_df, first_names, surname_2010_census)

# result_df will have the BISFG probabilities
display(result_df)

,firstname,name,ZCTA5,bisfg_white,bisfg_black,bisfg_aian,bisfg_api,bisfg_mult_other,bisfg_hispanic
0,MICHAEL,smith,01001,0.975615,0.013899,0.000546,0.000414,0.008590,0.000934
1,BEN,schneider,94536,0.723619,0.001664,0.000000,0.167589,0.089604,0.017525
2,RACHEL,zhitnitsky,94109,NaN,NaN,NaN,NaN,NaN,NaN
3,BEN,pickett,95618,0.725941,0.063197,0.000000,0.065669,0.133568,0.011625
4,BEN,schneider_smith,94536,0.723619,0.001664,0.000000,0.167589,0.089604,0.017525
5,BEN,smith_schneider,94536,0.564882,0.093897,0.000000,0.149102,0.171676,0.020443
6,RACHEL,berg,91361,0.980052,0.000130,0.000141,0.002756,0.011350,0.005571
7,RACHEL,schneider,97203,0.961914,0.001527,0.000875,0.002118,0.021917,0.011649
8,JAMAL,harris,90220,0.001201,0.983155,0.000000,0.000379,0.011783,0.003481
9,JAMAL,harris,93405,0.107669,0.738026,0.000000,0.006375,0.144023,0.003907
10,BEN,white,90210,0.793512,0.039981,0.000000,0.014646,0.147607,0.004254
11,ANDY,lin,94536,0.000131,0.000005,0.000006,0.999750,0.000000,0.000108
12,BEN,smith,94536,0.564882,0.093897,0.000000,0.149102,0.171676,0.020443
13,ANNA,wu,94109,0.002642,0.000071,0.000012,0.990253,0.006187,0.000835
14,DINGLEBOBBY,lin,94536,NaN,NaN,NaN,NaN,NaN,NaN

In [135]:
result_df.sum(axis=1)

/var/folders/cl/76_vk8yd563fjlw017gz364r0000gq/T/ipykernel_62093/71866768.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  result_df.sum(axis=1)

0     1.0
1     1.0
2     0.0
3     1.0
4     1.0
5     1.0
6     1.0
7     1.0
8     1.0
9     1.0
10    1.0
11    1.0
12    1.0
13    1.0
14    0.0
dtype: float64

In [143]:
import pandas as pd
import numpy as np

def calculate_bisfg_probabilities(input_df, block, tract, zip_code_df, first_names, surname_2010_census):
    """
    Calculate the Bayesian Improved Surname Geocoding (BISFG) probabilities for each racial group.

    Parameters:
    input_df (DataFrame): DataFrame containing the columns 'firstname', 'name', and may include 'GeoInd_Block', 'GeoInd_Tract', 'ZCTA5'.
    block (DataFrame): DataFrame containing block-level geographical data.
    tract (DataFrame): DataFrame containing tract-level geographical data.
    zip_code_df (DataFrame): DataFrame containing ZIP code-level geographical data.
    first_names (DataFrame): DataFrame containing probabilities based on first names, including a row for 'ALL OTHER FIRST NAMES'.
    surname_2010_census (DataFrame): DataFrame containing probabilities based on surnames, including a row for 'all other names'.

    Returns:
    DataFrame: A DataFrame with the BISFG probabilities for each racial group.
    """
    
    # Standardize the 'firstname' and 'name' columns for consistency in matching
    input_df['firstname'] = input_df['firstname'].str.upper()
    input_df['name'] = input_df['name'].str.lower().str.replace('-', '_')

    # Copy the input DataFrame to keep the original data intact
    output_df = input_df.copy()

    # Define the suffixes for the racial groups in the surname probability dataset
    race_suffixes = {
        'white': 'white', 'black': 'black', 'aian': 'aian',
        'api': 'api', 'mult_other': '2prace', 'hispanic': 'hispanic'
    }

    # Replace missing or non-existent firstnames with 'ALL OTHER FIRST NAMES'
    output_df['firstname'] = output_df['firstname'].apply(lambda x: x if x in first_names['firstname'].values else 'ALL OTHER FIRST NAMES')

    # Replace missing or non-existent names with 'all other names'
    output_df['name'] = output_df['name'].apply(lambda x: x if x in surname_2010_census['name'].values else 'all other names')

    # Define the function to calculate the BISFG probability for a row
    def bisfg_probability(row, race_key, race_suffix):
        p_r_s = p_f_r = p_g_r = 1

        # Handle hyphenated surnames by splitting and checking each part
        surnames = row['name'].split('_')
        found_surname = False
        for surname in surnames:
            # Check if the surname is in the surname_2010_census dataframe
            matching_surnames = surname_2010_census[surname_2010_census['name'] == surname]
            if not matching_surnames.empty:
                p_r_s = matching_surnames[f'pct{race_suffix}'].iloc[0]
                found_surname = True
                break

        # Use 'all other names' probabilities if surname is not found
        if not found_surname:
            p_r_s = surname_2010_census[surname_2010_census['name'] == 'all other names'][f'pct{race_suffix}'].iloc[0]

        # Check for the first name in the first names dataset and get its probability
        firstname = row['firstname']
        matching_firstnames = first_names[first_names['firstname'] == firstname]
        if not matching_firstnames.empty:
            p_f_r = matching_firstnames[f'name_given_{race_key}'].iloc[0]
        else:
            # Use 'ALL OTHER FIRST NAMES' probabilities if firstname is not found
            p_f_r = first_names[first_names['firstname'] == 'ALL OTHER FIRST NAMES'][f'name_given_{race_key}'].iloc[0]

        # Determine the geography-based probability using the block, tract, or ZIP code data
        if 'GeoInd_Block' in input_df.columns and row.get('GeoInd_Block') and row['GeoInd_Block'] in block['GeoInd_Block'].values:
            p_g_r = block[block['GeoInd_Block'] == row['GeoInd_Block']][f'here_given_{race_key}'].iloc[0]
        elif 'GeoInd_Tract' in input_df.columns and row.get('GeoInd_Tract') and row['GeoInd_Tract'] in tract['GeoInd_Tract'].values:
            p_g_r = tract[tract['GeoInd_Tract'] == row['GeoInd_Tract']][f'here_given_{race_key}'].iloc[0]
        elif 'ZCTA5' in input_df.columns and row.get('ZCTA5') and row['ZCTA5'] in zip_code_df['ZCTA5'].values:
            p_g_r = zip_code_df[zip_code_df['ZCTA5'] == row['ZCTA5']][f'here_given_{race_key}'].iloc[0]
        else:
            p_g_r = 1

        # Calculate the numerator of the BISFG probability
        numerator = p_r_s * p_f_r * p_g_r
        
        # Calculate the denominator as the sum of all possible combinations of surname, firstname, and geography probabilities
        denominator = sum(
            p_surname * p_firstname * p_geography
            for key, suffix in race_suffixes.items()
            for part in surnames
            for geo_df, geo_col in [(block, 'GeoInd_Block'), (tract, 'GeoInd_Tract'), (zip_code_df, 'ZCTA5')]
            if part in surname_2010_census['name'].values
            for p_surname in [surname_2010_census[surname_2010_census['name'] == part][f'pct{suffix}'].iloc[0]]
            if firstname in first_names['firstname'].values
            for p_firstname in [first_names[first_names['firstname'] == firstname][f'name_given_{key}'].iloc[0]]
            if row.get(geo_col) in geo_df[geo_col].values
            for p_geography in [geo_df[geo_df[geo_col] == row.get(geo_col)][f'here_given_{key}'].iloc[0]]
        )

        # Return the BISFG probability for the row, handling division by zero
        return numerator / denominator if denominator != 0 else np.nan
       
    # Calculate the BISFG probabilities for each racial group and add them to the output DataFrame
    for key, suffix in race_suffixes.items():
        output_df[f'bisfg_{key}'] = output_df.apply(lambda row: bisfg_probability(row, key, suffix), axis=1)

    return output_df

In [144]:
# Example usage of the function

# Create the input DataFrame
input_df = pd.DataFrame({
    'firstname': ['MICHAEL','Ben','Rachel','Ben','Ben','Ben','Rachel','Rachel','Jamal','Jamal','Ben','Andy','Ben','Anna','Dinglebobby'],
    'name': ['smith','schneider','zhitnitsky','pickett','schneider-smith','smith-schneider','berg','schneider','Harris','Harris','White','Lin','Smith','Wu','Lin'],
    'ZCTA5': ['01001','94536','94109','95618','94536','94536','91361','97203','90220','93405','90210','94536','94536','94109','94536']
})

# Apply the function to the input DataFrame
result_df = calculate_bisfg_probabilities(input_df, block, tract, zip_code_df, first_names, surname_2010_census)

# result_df will have the BISFG probabilities
display(result_df)

,firstname,name,ZCTA5,bisfg_white,bisfg_black,bisfg_aian,bisfg_api,bisfg_mult_other,bisfg_hispanic
0,MICHAEL,smith,01001,0.975615,0.013899,0.000546,0.000414,0.008590,0.000934
1,BEN,schneider,94536,0.723619,0.001664,0.000000,0.167589,0.089604,0.017525
2,RACHEL,all other names,94109,0.685244,0.017292,0.000917,0.178450,0.048291,0.069806
3,BEN,pickett,95618,0.725941,0.063197,0.000000,0.065669,0.133568,0.011625
4,BEN,all other names,94536,0.163861,0.010695,0.000000,0.733394,0.056120,0.035931
5,BEN,all other names,94536,0.163861,0.010695,0.000000,0.733394,0.056120,0.035931
6,RACHEL,berg,91361,0.980052,0.000130,0.000141,0.002756,0.011350,0.005571
7,RACHEL,schneider,97203,0.961914,0.001527,0.000875,0.002118,0.021917,0.011649
8,JAMAL,harris,90220,0.001201,0.983155,0.000000,0.000379,0.011783,0.003481
9,JAMAL,harris,93405,0.107669,0.738026,0.000000,0.006375,0.144023,0.003907
10,BEN,white,90210,0.793512,0.039981,0.000000,0.014646,0.147607,0.004254
11,ANDY,lin,94536,0.000131,0.000005,0.000006,0.999750,0.000000,0.000108
12,BEN,smith,94536,0.564882,0.093897,0.000000,0.149102,0.171676,0.020443
13,ANNA,wu,94109,0.002642,0.000071,0.000012,0.990253,0.006187,0.000835
14,ALL OTHER FIRST NAMES,lin,94536,0.000175,0.000045,0.000005,0.997040,0.002543,0.000193

In [145]:
import pandas as pd
import numpy as np

def calculate_bisfg_probabilities(input_df, block, tract, zip_code_df, first_names, surname_2010_census):
    """
    Calculate the Bayesian Improved Surname Geocoding (BISFG) probabilities for each racial group.

    Parameters:
    input_df (DataFrame): DataFrame containing the columns 'firstname', 'name', and may include 'GeoInd_Block', 'GeoInd_Tract', 'ZCTA5'.
    block (DataFrame): DataFrame containing block-level geographical data.
    tract (DataFrame): DataFrame containing tract-level geographical data.
    zip_code_df (DataFrame): DataFrame containing ZIP code-level geographical data.
    first_names (DataFrame): DataFrame containing probabilities based on first names, including a row for 'ALL OTHER FIRST NAMES'.
    surname_2010_census (DataFrame): DataFrame containing probabilities based on surnames, including a row for 'all other names'.

    Returns:
    DataFrame: A DataFrame with the BISFG probabilities for each racial group.
    """
    
    # Standardize the 'firstname' and 'name' columns for consistency in matching
    input_df['firstname'] = input_df['firstname'].str.upper()
    input_df['name'] = input_df['name'].str.lower().str.replace('-', '_')

    # Copy the input DataFrame to keep the original data intact
    output_df = input_df.copy()

    # Define the suffixes for the racial groups in the surname probability dataset
    race_suffixes = {
        'white': 'white', 'black': 'black', 'aian': 'aian',
        'api': 'api', 'mult_other': '2prace', 'hispanic': 'hispanic'
    }

    # Replace missing or non-existent firstnames with 'ALL OTHER FIRST NAMES'
    output_df['firstname'] = output_df['firstname'].apply(lambda x: x if x in first_names['firstname'].values else 'ALL OTHER FIRST NAMES')

    # Handle hyphenated last names
    def handle_hyphenated_surnames(last_name):
        last_names = last_name.split('-')
        updated_last_names = []
        for name in last_names:
            if name in surname_2010_census['name'].values:
                updated_last_names.append(name)
            else:
                updated_last_names.append('all other names')
        return '_'.join(updated_last_names)

    output_df['name'] = output_df['name'].apply(handle_hyphenated_surnames)

    # Define the function to calculate the BISFG probability for a row
    def bisfg_probability(row, race_key, race_suffix):
        p_r_s = p_f_r = p_g_r = 1

        # Handle hyphenated surnames by splitting and checking each part
        surnames = row['name'].split('_')
        found_surname = False
        for surname in surnames:
            # Check if the surname is in the surname_2010_census dataframe
            matching_surnames = surname_2010_census[surname_2010_census['name'] == surname]
            if not matching_surnames.empty:
                p_r_s = matching_surnames[f'pct{race_suffix}'].iloc[0]
                found_surname = True
                break

        # Use 'all other names' probabilities if surname is not found
        if not found_surname:
            p_r_s = surname_2010_census[surname_2010_census['name'] == 'all other names'][f'pct{race_suffix}'].iloc[0]

        # Check for the first name in the first names dataset and get its probability
        firstname = row['firstname']
        matching_firstnames = first_names[first_names['firstname'] == firstname]
        if not matching_firstnames.empty:
            p_f_r = matching_firstnames[f'name_given_{race_key}'].iloc[0]
        else:
            # Use 'ALL OTHER FIRST NAMES' probabilities if firstname is not found
            p_f_r = first_names[first_names['firstname'] == 'ALL OTHER FIRST NAMES'][f'name_given_{race_key}'].iloc[0]

        # Determine the geography-based probability using the block, tract, or ZIP code data
        if 'GeoInd_Block' in input_df.columns and row.get('GeoInd_Block') and row['GeoInd_Block'] in block['GeoInd_Block'].values:
            p_g_r = block[block['GeoInd_Block'] == row['GeoInd_Block']][f'here_given_{race_key}'].iloc[0]
        elif 'GeoInd_Tract' in input_df.columns and row.get('GeoInd_Tract') and row['GeoInd_Tract'] in tract['GeoInd_Tract'].values:
            p_g_r = tract[tract['GeoInd_Tract'] == row['GeoInd_Tract']][f'here_given_{race_key}'].iloc[0]
        elif 'ZCTA5' in input_df.columns and row.get('ZCTA5') and row['ZCTA5'] in zip_code_df['ZCTA5'].values:
            p_g_r = zip_code_df[zip_code_df['ZCTA5'] == row['ZCTA5']][f'here_given_{race_key}'].iloc[0]
        else:
            p_g_r = 1

        # Calculate the numerator of the BISFG probability
        numerator = p_r_s * p_f_r * p_g_r
        
        # Calculate the denominator as the sum of all possible combinations of surname, firstname, and geography probabilities
        denominator = sum(
            p_surname * p_firstname * p_geography
            for key, suffix in race_suffixes.items()
            for part in surnames
            for geo_df, geo_col in [(block, 'GeoInd_Block'), (tract, 'GeoInd_Tract'), (zip_code_df, 'ZCTA5')]
            if part in surname_2010_census['name'].values
            for p_surname in [surname_2010_census[surname_2010_census['name'] == part][f'pct{suffix}'].iloc[0]]
            if firstname in first_names['firstname'].values
            for p_firstname in [first_names[first_names['firstname'] == firstname][f'name_given_{key}'].iloc[0]]
            if row.get(geo_col) in geo_df[geo_col].values
            for p_geography in [geo_df[geo_df[geo_col] == row.get(geo_col)][f'here_given_{key}'].iloc[0]]
        )

        # Return the BISFG probability for the row, handling division by zero
        return numerator / denominator if denominator != 0 else np.nan
       
    # Calculate the BISFG probabilities for each racial group and add them to the output DataFrame
    for key, suffix in race_suffixes.items():
        output_df[f'bisfg_{key}'] = output_df.apply(lambda row: bisfg_probability(row, key, suffix), axis=1)

    return output_df

In [146]:
# Example usage of the function

# Create the input DataFrame
input_df = pd.DataFrame({
    'firstname': ['MICHAEL','Ben','Rachel','Ben','Ben','Ben','Rachel','Rachel','Jamal','Jamal','Ben','Andy','Ben','Anna','Dinglebobby'],
    'name': ['smith','schneider','zhitnitsky','pickett','schneider-smith','smith-schneider','berg','schneider','Harris','Harris','White','Lin','Smith','Wu','Lin'],
    'ZCTA5': ['01001','94536','94109','95618','94536','94536','91361','97203','90220','93405','90210','94536','94536','94109','94536']
})

# Apply the function to the input DataFrame
result_df = calculate_bisfg_probabilities(input_df, block, tract, zip_code_df, first_names, surname_2010_census)

# result_df will have the BISFG probabilities
display(result_df)

,firstname,name,ZCTA5,bisfg_white,bisfg_black,bisfg_aian,bisfg_api,bisfg_mult_other,bisfg_hispanic
0,MICHAEL,smith,01001,0.975615,0.013899,0.000546,0.000414,0.008590,0.000934
1,BEN,schneider,94536,0.723619,0.001664,0.000000,0.167589,0.089604,0.017525
2,RACHEL,all other names,94109,0.685244,0.017292,0.000917,0.178450,0.048291,0.069806
3,BEN,pickett,95618,0.725941,0.063197,0.000000,0.065669,0.133568,0.011625
4,BEN,all other names,94536,0.163861,0.010695,0.000000,0.733394,0.056120,0.035931
5,BEN,all other names,94536,0.163861,0.010695,0.000000,0.733394,0.056120,0.035931
6,RACHEL,berg,91361,0.980052,0.000130,0.000141,0.002756,0.011350,0.005571
7,RACHEL,schneider,97203,0.961914,0.001527,0.000875,0.002118,0.021917,0.011649
8,JAMAL,harris,90220,0.001201,0.983155,0.000000,0.000379,0.011783,0.003481
9,JAMAL,harris,93405,0.107669,0.738026,0.000000,0.006375,0.144023,0.003907
10,BEN,white,90210,0.793512,0.039981,0.000000,0.014646,0.147607,0.004254
11,ANDY,lin,94536,0.000131,0.000005,0.000006,0.999750,0.000000,0.000108
12,BEN,smith,94536,0.564882,0.093897,0.000000,0.149102,0.171676,0.020443
13,ANNA,wu,94109,0.002642,0.000071,0.000012,0.990253,0.006187,0.000835
14,ALL OTHER FIRST NAMES,lin,94536,0.000175,0.000045,0.000005,0.997040,0.002543,0.000193

In [147]:
import pandas as pd
import numpy as np

def calculate_bisfg_probabilities(input_df, block, tract, zip_code_df, first_names, surname_2010_census):
    """
    Calculate the Bayesian Improved Surname Geocoding (BISFG) probabilities for each racial group.

    Parameters:
    input_df (DataFrame): DataFrame containing the columns 'firstname', 'name', and may include 'GeoInd_Block', 'GeoInd_Tract', 'ZCTA5'.
    block (DataFrame): DataFrame containing block-level geographical data.
    tract (DataFrame): DataFrame containing tract-level geographical data.
    zip_code_df (DataFrame): DataFrame containing ZIP code-level geographical data.
    first_names (DataFrame): DataFrame containing probabilities based on first names, including a row for 'ALL OTHER FIRST NAMES'.
    surname_2010_census (DataFrame): DataFrame containing probabilities based on surnames, including a row for 'all other names'.

    Returns:
    DataFrame: A DataFrame with the BISFG probabilities for each racial group.
    """
    
    # Standardize the 'firstname' and 'name' columns for consistency in matching
    input_df['firstname'] = input_df['firstname'].str.upper()
    input_df['name'] = input_df['name'].str.lower().str.replace('-', '_')

    # Copy the input DataFrame to keep the original data intact
    output_df = input_df.copy()

    # Define the suffixes for the racial groups in the surname probability dataset
    race_suffixes = {
        'white': 'white', 'black': 'black', 'aian': 'aian',
        'api': 'api', 'mult_other': '2prace', 'hispanic': 'hispanic'
    }

    # Replace missing or non-existent firstnames with 'ALL OTHER FIRST NAMES'
    output_df['firstname'] = output_df['firstname'].apply(lambda x: x if x in first_names['firstname'].values else 'ALL OTHER FIRST NAMES')

    # Handle hyphenated last names
    def handle_hyphenated_surnames(last_name):
        last_names = last_name.split('_')
        updated_last_names = []
        for name in last_names:
            if name in surname_2010_census['name'].values:
                updated_last_names.append(name)
            else:
                updated_last_names.append('all other names')
        return '_'.join(updated_last_names)

    output_df['name'] = output_df['name'].apply(handle_hyphenated_surnames)

    # Define the function to calculate the BISFG probability for a row
    def bisfg_probability(row, race_key, race_suffix):
        p_r_s = p_f_r = p_g_r = 1

        # Handle hyphenated surnames by splitting and checking each part
        surnames = row['name'].split('_')
        found_surname = False
        for surname in surnames:
            # Check if the surname is in the surname_2010_census dataframe
            matching_surnames = surname_2010_census[surname_2010_census['name'] == surname]
            if not matching_surnames.empty:
                p_r_s = matching_surnames[f'pct{race_suffix}'].iloc[0]
                found_surname = True
                break

        # Use 'all other names' probabilities if surname is not found
        if not found_surname:
            p_r_s = surname_2010_census[surname_2010_census['name'] == 'all other names'][f'pct{race_suffix}'].iloc[0]

        # Check for the first name in the first names dataset and get its probability
        firstname = row['firstname']
        matching_firstnames = first_names[first_names['firstname'] == firstname]
        if not matching_firstnames.empty:
            p_f_r = matching_firstnames[f'name_given_{race_key}'].iloc[0]
        else:
            # Use 'ALL OTHER FIRST NAMES' probabilities if firstname is not found
            p_f_r = first_names[first_names['firstname'] == 'ALL OTHER FIRST NAMES'][f'name_given_{race_key}'].iloc[0]

        # Determine the geography-based probability using the block, tract, or ZIP code data
        if 'GeoInd_Block' in input_df.columns and row.get('GeoInd_Block') and row['GeoInd_Block'] in block['GeoInd_Block'].values:
            p_g_r = block[block['GeoInd_Block'] == row['GeoInd_Block']][f'here_given_{race_key}'].iloc[0]
        elif 'GeoInd_Tract' in input_df.columns and row.get('GeoInd_Tract') and row['GeoInd_Tract'] in tract['GeoInd_Tract'].values:
            p_g_r = tract[tract['GeoInd_Tract'] == row['GeoInd_Tract']][f'here_given_{race_key}'].iloc[0]
        elif 'ZCTA5' in input_df.columns and row.get('ZCTA5') and row['ZCTA5'] in zip_code_df['ZCTA5'].values:
            p_g_r = zip_code_df[zip_code_df['ZCTA5'] == row['ZCTA5']][f'here_given_{race_key}'].iloc[0]
        else:
            p_g_r = 1

        # Calculate the numerator of the BISFG probability
        numerator = p_r_s * p_f_r * p_g_r
        
        # Calculate the denominator as the sum of all possible combinations of surname, firstname, and geography probabilities
        denominator = sum(
            p_surname * p_firstname * p_geography
            for key, suffix in race_suffixes.items()
            for part in surnames
            for geo_df, geo_col in [(block, 'GeoInd_Block'), (tract, 'GeoInd_Tract'), (zip_code_df, 'ZCTA5')]
            if part in surname_2010_census['name'].values
            for p_surname in [surname_2010_census[surname_2010_census['name'] == part][f'pct{suffix}'].iloc[0]]
            if firstname in first_names['firstname'].values
            for p_firstname in [first_names[first_names['firstname'] == firstname][f'name_given_{key}'].iloc[0]]
            if row.get(geo_col) in geo_df[geo_col].values
            for p_geography in [geo_df[geo_df[geo_col] == row.get(geo_col)][f'here_given_{key}'].iloc[0]]
        )

        # Return the BISFG probability for the row, handling division by zero
        return numerator / denominator if denominator != 0 else np.nan
       
    # Calculate the BISFG probabilities for each racial group and add them to the output DataFrame
    for key, suffix in race_suffixes.items():
        output_df[f'bisfg_{key}'] = output_df.apply(lambda row: bisfg_probability(row, key, suffix), axis=1)

    return output_df

In [148]:
# Example usage of the function

# Create the input DataFrame
input_df = pd.DataFrame({
    'firstname': ['MICHAEL','Ben','Rachel','Ben','Ben','Ben','Rachel','Rachel','Jamal','Jamal','Ben','Andy','Ben','Anna','Dinglebobby'],
    'name': ['smith','schneider','zhitnitsky','pickett','schneider-smith','smith-schneider','berg','schneider','Harris','Harris','White','Lin','Smith','Wu','Lin'],
    'ZCTA5': ['01001','94536','94109','95618','94536','94536','91361','97203','90220','93405','90210','94536','94536','94109','94536']
})

# Apply the function to the input DataFrame
result_df = calculate_bisfg_probabilities(input_df, block, tract, zip_code_df, first_names, surname_2010_census)

# result_df will have the BISFG probabilities
display(result_df)

,firstname,name,ZCTA5,bisfg_white,bisfg_black,bisfg_aian,bisfg_api,bisfg_mult_other,bisfg_hispanic
0,MICHAEL,smith,01001,0.975615,0.013899,0.000546,0.000414,0.008590,0.000934
1,BEN,schneider,94536,0.723619,0.001664,0.000000,0.167589,0.089604,0.017525
2,RACHEL,all other names,94109,0.685244,0.017292,0.000917,0.178450,0.048291,0.069806
3,BEN,pickett,95618,0.725941,0.063197,0.000000,0.065669,0.133568,0.011625
4,BEN,schneider_smith,94536,0.370606,0.000852,0.000000,0.085832,0.045891,0.008976
5,BEN,smith_schneider,94536,0.275574,0.045807,0.000000,0.072739,0.083751,0.009973
6,RACHEL,berg,91361,0.980052,0.000130,0.000141,0.002756,0.011350,0.005571
7,RACHEL,schneider,97203,0.961914,0.001527,0.000875,0.002118,0.021917,0.011649
8,JAMAL,harris,90220,0.001201,0.983155,0.000000,0.000379,0.011783,0.003481
9,JAMAL,harris,93405,0.107669,0.738026,0.000000,0.006375,0.144023,0.003907
10,BEN,white,90210,0.793512,0.039981,0.000000,0.014646,0.147607,0.004254
11,ANDY,lin,94536,0.000131,0.000005,0.000006,0.999750,0.000000,0.000108
12,BEN,smith,94536,0.564882,0.093897,0.000000,0.149102,0.171676,0.020443
13,ANNA,wu,94109,0.002642,0.000071,0.000012,0.990253,0.006187,0.000835
14,ALL OTHER FIRST NAMES,lin,94536,0.000175,0.000045,0.000005,0.997040,0.002543,0.000193

In [149]:
import pandas as pd
import numpy as np

def calculate_bisfg_probabilities(input_df, block, tract, zip_code_df, first_names, surname_2010_census):
    """
    Calculate the Bayesian Improved Surname Geocoding (BISFG) probabilities for each racial group.

    Parameters:
    input_df (DataFrame): DataFrame containing the columns 'firstname', 'name', and may include 'GeoInd_Block', 'GeoInd_Tract', 'ZCTA5'.
    block (DataFrame): DataFrame containing block-level geographical data.
    tract (DataFrame): DataFrame containing tract-level geographical data.
    zip_code_df (DataFrame): DataFrame containing ZIP code-level geographical data.
    first_names (DataFrame): DataFrame containing probabilities based on first names, including a row for 'ALL OTHER FIRST NAMES'.
    surname_2010_census (DataFrame): DataFrame containing probabilities based on surnames, including a row for 'all other names'.

    Returns:
    DataFrame: A DataFrame with the BISFG probabilities for each racial group.
    """
    
    # Standardize the 'firstname' and 'name' columns for consistency in matching
    input_df['firstname'] = input_df['firstname'].str.upper()
    input_df['name'] = input_df['name'].str.lower().str.replace('-', '_')

    # Copy the input DataFrame to keep the original data intact
    output_df = input_df.copy()

    # Define the suffixes for the racial groups in the surname probability dataset
    race_suffixes = {
        'white': 'white', 'black': 'black', 'aian': 'aian',
        'api': 'api', 'mult_other': '2prace', 'hispanic': 'hispanic'
    }

    # Replace missing or non-existent firstnames with 'ALL OTHER FIRST NAMES'
    output_df['firstname'] = output_df['firstname'].apply(lambda x: x if x in first_names['firstname'].values else 'ALL OTHER FIRST NAMES')

    # Handle hyphenated last names
    def handle_hyphenated_surnames(last_name):
        last_names = last_name.split('_')
        updated_last_names = []
        for name in last_names:
            if name in surname_2010_census['name'].values:
                updated_last_names.append(name)
            else:
                updated_last_names.append('all other names')
        return '_'.join(updated_last_names)

    output_df['name'] = output_df['name'].apply(handle_hyphenated_surnames)

    # Define the function to calculate the BISFG probability for a row
    def bisfg_probability(row, race_key, race_suffix):
        p_r_s = p_f_r = p_g_r = 1

        # Handle hyphenated surnames by splitting and checking each part
        surnames = row['name'].split('_')
        found_surname = False
        for surname in surnames:
            # Check if the surname is in the surname_2010_census dataframe
            matching_surnames = surname_2010_census[surname_2010_census['name'] == surname]
            if not matching_surnames.empty:
                p_r_s *= matching_surnames[f'pct{race_suffix}'].iloc[0]
                found_surname = True

        # Use 'all other names' probabilities if surname is not found
        if not found_surname:
            p_r_s *= surname_2010_census[surname_2010_census['name'] == 'all other names'][f'pct{race_suffix}'].iloc[0]

        # Check for the first name in the first names dataset and get its probability
        firstname = row['firstname']
        matching_firstnames = first_names[first_names['firstname'] == firstname]
        if not matching_firstnames.empty:
            p_f_r = matching_firstnames[f'name_given_{race_key}'].iloc[0]
        else:
            # Use 'ALL OTHER FIRST NAMES' probabilities if firstname is not found
            p_f_r = first_names[first_names['firstname'] == 'ALL OTHER FIRST NAMES'][f'name_given_{race_key}'].iloc[0]

        # Determine the geography-based probability using the block, tract, or ZIP code data
        if 'GeoInd_Block' in input_df.columns and row.get('GeoInd_Block') and row['GeoInd_Block'] in block['GeoInd_Block'].values:
            p_g_r = block[block['GeoInd_Block'] == row['GeoInd_Block']][f'here_given_{race_key}'].iloc[0]
        elif 'GeoInd_Tract' in input_df.columns and row.get('GeoInd_Tract') and row['GeoInd_Tract'] in tract['GeoInd_Tract'].values:
            p_g_r = tract[tract['GeoInd_Tract'] == row['GeoInd_Tract']][f'here_given_{race_key}'].iloc[0]
        elif 'ZCTA5' in input_df.columns and row.get('ZCTA5') and row['ZCTA5'] in zip_code_df['ZCTA5'].values:
            p_g_r = zip_code_df[zip_code_df['ZCTA5'] == row['ZCTA5']][f'here_given_{race_key}'].iloc[0]
        else:
            p_g_r = 1

        # Calculate the numerator of the BISFG probability
        numerator = p_r_s * p_f_r * p_g_r
        
        # Calculate the denominator as the sum of all possible combinations of surname, firstname, and geography probabilities
        denominator = sum(
            p_surname * p_firstname * p_geography
            for key, suffix in race_suffixes.items()
            for part in surnames
            for geo_df, geo_col in [(block, 'GeoInd_Block'), (tract, 'GeoInd_Tract'), (zip_code_df, 'ZCTA5')]
            if part in surname_2010_census['name'].values
            for p_surname in [surname_2010_census[surname_2010_census['name'] == part][f'pct{suffix}'].iloc[0]]
            if firstname in first_names['firstname'].values
            for p_firstname in [first_names[first_names['firstname'] == firstname][f'name_given_{key}'].iloc[0]]
            if row.get(geo_col) in geo_df[geo_col].values
            for p_geography in [geo_df[geo_df[geo_col] == row.get(geo_col)][f'here_given_{key}'].iloc[0]]
        )

        # Return the BISFG probability for the row, handling division by zero
        return numerator / denominator if denominator != 0 else np.nan
       
    # Calculate the BISFG probabilities for each racial group and add them to the output DataFrame
    for key, suffix in race_suffixes.items():
        output_df[f'bisfg_{key}'] = output_df.apply(lambda row: bisfg_probability(row, key, suffix), axis=1)

    return output_df

In [150]:
# Example usage of the function

# Create the input DataFrame
input_df = pd.DataFrame({
    'firstname': ['MICHAEL','Ben','Rachel','Ben','Ben','Ben','Rachel','Rachel','Jamal','Jamal','Ben','Andy','Ben','Anna','Dinglebobby'],
    'name': ['smith','schneider','zhitnitsky','pickett','schneider-smith','smith-schneider','berg','schneider','Harris','Harris','White','Lin','Smith','Wu','Lin'],
    'ZCTA5': ['01001','94536','94109','95618','94536','94536','91361','97203','90220','93405','90210','94536','94536','94109','94536']
})

# Apply the function to the input DataFrame
result_df = calculate_bisfg_probabilities(input_df, block, tract, zip_code_df, first_names, surname_2010_census)

# result_df will have the BISFG probabilities
display(result_df)

,firstname,name,ZCTA5,bisfg_white,bisfg_black,bisfg_aian,bisfg_api,bisfg_mult_other,bisfg_hispanic
0,MICHAEL,smith,01001,0.975615,0.013899,0.000546,0.000414,0.008590,0.000934
1,BEN,schneider,94536,0.723619,0.001664,0.000000,0.167589,0.089604,0.017525
2,RACHEL,all other names,94109,0.685244,0.017292,0.000917,0.178450,0.048291,0.069806
3,BEN,pickett,95618,0.725941,0.063197,0.000000,0.065669,0.133568,0.011625
4,BEN,schneider_smith,94536,0.262760,0.000197,0.000000,0.000429,0.001005,0.000215
5,BEN,smith_schneider,94536,0.262760,0.000197,0.000000,0.000429,0.001005,0.000215
6,RACHEL,berg,91361,0.980052,0.000130,0.000141,0.002756,0.011350,0.005571
7,RACHEL,schneider,97203,0.961914,0.001527,0.000875,0.002118,0.021917,0.011649
8,JAMAL,harris,90220,0.001201,0.983155,0.000000,0.000379,0.011783,0.003481
9,JAMAL,harris,93405,0.107669,0.738026,0.000000,0.006375,0.144023,0.003907
10,BEN,white,90210,0.793512,0.039981,0.000000,0.014646,0.147607,0.004254
11,ANDY,lin,94536,0.000131,0.000005,0.000006,0.999750,0.000000,0.000108
12,BEN,smith,94536,0.564882,0.093897,0.000000,0.149102,0.171676,0.020443
13,ANNA,wu,94109,0.002642,0.000071,0.000012,0.990253,0.006187,0.000835
14,ALL OTHER FIRST NAMES,lin,94536,0.000175,0.000045,0.000005,0.997040,0.002543,0.000193

In [151]:
import pandas as pd
import numpy as np

def calculate_bisfg_probabilities(input_df, block, tract, zip_code_df, first_names, surname_2010_census):
    """
    Calculate the Bayesian Improved Surname Geocoding (BISFG) probabilities for each racial group.

    Parameters:
    input_df (DataFrame): DataFrame containing the columns 'firstname', 'name', and may include 'GeoInd_Block', 'GeoInd_Tract', 'ZCTA5'.
    block (DataFrame): DataFrame containing block-level geographical data.
    tract (DataFrame): DataFrame containing tract-level geographical data.
    zip_code_df (DataFrame): DataFrame containing ZIP code-level geographical data.
    first_names (DataFrame): DataFrame containing probabilities based on first names, including a row for 'ALL OTHER FIRST NAMES'.
    surname_2010_census (DataFrame): DataFrame containing probabilities based on surnames, including a row for 'all other names'.

    Returns:
    DataFrame: A DataFrame with the BISFG probabilities for each racial group.
    """
    
    # Standardize the 'firstname' and 'name' columns for consistency in matching
    input_df['firstname'] = input_df['firstname'].str.upper()
    input_df['name'] = input_df['name'].str.lower().str.replace('-', '_')

    # Copy the input DataFrame to keep the original data intact
    output_df = input_df.copy()

    # Define the suffixes for the racial groups in the surname probability dataset
    race_suffixes = {
        'white': 'white', 'black': 'black', 'aian': 'aian',
        'api': 'api', 'mult_other': '2prace', 'hispanic': 'hispanic'
    }

    # Replace missing or non-existent firstnames with 'ALL OTHER FIRST NAMES'
    output_df['firstname'] = output_df['firstname'].apply(lambda x: x if x in first_names['firstname'].values else 'ALL OTHER FIRST NAMES')

    # Handle hyphenated last names
    def handle_hyphenated_surnames(last_name):
        last_names = last_name.split('_')
        if len(last_names) == 1:
            return last_names[0]
        elif len(last_names) == 2:
            if last_names[0] in surname_2010_census['name'].values:
                return last_names[0]
            elif last_names[1] in surname_2010_census['name'].values:
                return last_names[1]
            else:
                return 'all other names'
        else:
            return 'all other names'

    output_df['name'] = output_df['name'].apply(handle_hyphenated_surnames)

    # Define the function to calculate the BISFG probability for a row
    def bisfg_probability(row, race_key, race_suffix):
        p_r_s = p_f_r = p_g_r = 1

        # Handle hyphenated surnames by splitting and checking each part
        surnames = row['name'].split('_')
        found_surname = False
        for surname in surnames:
            # Check if the surname is in the surname_2010_census dataframe
            matching_surnames = surname_2010_census[surname_2010_census['name'] == surname]
            if not matching_surnames.empty:
                p_r_s *= matching_surnames[f'pct{race_suffix}'].iloc[0]
                found_surname = True

        # Use 'all other names' probabilities if surname is not found
        if not found_surname:
            p_r_s *= surname_2010_census[surname_2010_census['name'] == 'all other names'][f'pct{race_suffix}'].iloc[0]

        # Check for the first name in the first names dataset and get its probability
        firstname = row['firstname']
        matching_firstnames = first_names[first_names['firstname'] == firstname]
        if not matching_firstnames.empty:
            p_f_r = matching_firstnames[f'name_given_{race_key}'].iloc[0]
        else:
            # Use 'ALL OTHER FIRST NAMES' probabilities if firstname is not found
            p_f_r = first_names[first_names['firstname'] == 'ALL OTHER FIRST NAMES'][f'name_given_{race_key}'].iloc[0]

        # Determine the geography-based probability using the block, tract, or ZIP code data
        if 'GeoInd_Block' in input_df.columns and row.get('GeoInd_Block') and row['GeoInd_Block'] in block['GeoInd_Block'].values:
            p_g_r = block[block['GeoInd_Block'] == row['GeoInd_Block']][f'here_given_{race_key}'].iloc[0]
        elif 'GeoInd_Tract' in input_df.columns and row.get('GeoInd_Tract') and row['GeoInd_Tract'] in tract['GeoInd_Tract'].values:
            p_g_r = tract[tract['GeoInd_Tract'] == row['GeoInd_Tract']][f'here_given_{race_key}'].iloc[0]
        elif 'ZCTA5' in input_df.columns and row.get('ZCTA5') and row['ZCTA5'] in zip_code_df['ZCTA5'].values:
            p_g_r = zip_code_df[zip_code_df['ZCTA5'] == row['ZCTA5']][f'here_given_{race_key}'].iloc[0]
        else:
            p_g_r = 1

        # Calculate the numerator of the BISFG probability
        numerator = p_r_s * p_f_r * p_g_r
        
        # Calculate the denominator as the sum of all possible combinations of surname, firstname, and geography probabilities
        denominator = sum(
            p_surname * p_firstname * p_geography
            for key, suffix in race_suffixes.items()
            for part in surnames
            for geo_df, geo_col in [(block, 'GeoInd_Block'), (tract, 'GeoInd_Tract'), (zip_code_df, 'ZCTA5')]
            if part in surname_2010_census['name'].values
            for p_surname in [surname_2010_census[surname_2010_census['name'] == part][f'pct{suffix}'].iloc[0]]
            if firstname in first_names['firstname'].values
            for p_firstname in [first_names[first_names['firstname'] == firstname][f'name_given_{key}'].iloc[0]]
            if row.get(geo_col) in geo_df[geo_col].values
            for p_geography in [geo_df[geo_df[geo_col] == row.get(geo_col)][f'here_given_{key}'].iloc[0]]
        )

        # Return the BISFG probability for the row, handling division by zero
        return numerator / denominator if denominator != 0 else np.nan
       
    # Calculate the BISFG probabilities for each racial group and add them to the output DataFrame
    for key, suffix in race_suffixes.items():
        output_df[f'bisfg_{key}'] = output_df.apply(lambda row: bisfg_probability(row, key, suffix), axis=1)

    return output_df

In [152]:
# Example usage of the function

# Create the input DataFrame
input_df = pd.DataFrame({
    'firstname': ['MICHAEL','Ben','Rachel','Ben','Ben','Ben','Rachel','Rachel','Jamal','Jamal','Ben','Andy','Ben','Anna','Dinglebobby'],
    'name': ['smith','schneider','zhitnitsky','pickett','schneider-smith','smith-schneider','berg','schneider','Harris','Harris','White','Lin','Smith','Wu','Lin'],
    'ZCTA5': ['01001','94536','94109','95618','94536','94536','91361','97203','90220','93405','90210','94536','94536','94109','94536']
})

# Apply the function to the input DataFrame
result_df = calculate_bisfg_probabilities(input_df, block, tract, zip_code_df, first_names, surname_2010_census)

# result_df will have the BISFG probabilities
display(result_df)

,firstname,name,ZCTA5,bisfg_white,bisfg_black,bisfg_aian,bisfg_api,bisfg_mult_other,bisfg_hispanic
0,MICHAEL,smith,01001,0.975615,0.013899,0.000546,0.000414,0.008590,0.000934
1,BEN,schneider,94536,0.723619,0.001664,0.000000,0.167589,0.089604,0.017525
2,RACHEL,zhitnitsky,94109,NaN,NaN,NaN,NaN,NaN,NaN
3,BEN,pickett,95618,0.725941,0.063197,0.000000,0.065669,0.133568,0.011625
4,BEN,schneider,94536,0.723619,0.001664,0.000000,0.167589,0.089604,0.017525
5,BEN,smith,94536,0.564882,0.093897,0.000000,0.149102,0.171676,0.020443
6,RACHEL,berg,91361,0.980052,0.000130,0.000141,0.002756,0.011350,0.005571
7,RACHEL,schneider,97203,0.961914,0.001527,0.000875,0.002118,0.021917,0.011649
8,JAMAL,harris,90220,0.001201,0.983155,0.000000,0.000379,0.011783,0.003481
9,JAMAL,harris,93405,0.107669,0.738026,0.000000,0.006375,0.144023,0.003907
10,BEN,white,90210,0.793512,0.039981,0.000000,0.014646,0.147607,0.004254
11,ANDY,lin,94536,0.000131,0.000005,0.000006,0.999750,0.000000,0.000108
12,BEN,smith,94536,0.564882,0.093897,0.000000,0.149102,0.171676,0.020443
13,ANNA,wu,94109,0.002642,0.000071,0.000012,0.990253,0.006187,0.000835
14,ALL OTHER FIRST NAMES,lin,94536,0.000175,0.000045,0.000005,0.997040,0.002543,0.000193

In [164]:
import pandas as pd
import numpy as np

def calculate_bisfg_probabilities(input_df, block, tract, zip_code_df, first_names, surname_2010_census):
    """
    Calculate the Bayesian Improved Surname Geocoding (BISFG) probabilities for each racial group.

    Parameters:
    input_df (DataFrame): DataFrame containing the columns 'firstname', 'name', and may include 'GeoInd_Block', 'GeoInd_Tract', 'ZCTA5'.
    block (DataFrame): DataFrame containing block-level geographical data.
    tract (DataFrame): DataFrame containing tract-level geographical data.
    zip_code_df (DataFrame): DataFrame containing ZIP code-level geographical data.
    first_names (DataFrame): DataFrame containing probabilities based on first names, including a row for 'ALL OTHER FIRST NAMES'.
    surname_2010_census (DataFrame): DataFrame containing probabilities based on surnames, including a row for 'all other names'.

    Returns:
    DataFrame: A DataFrame with the BISFG probabilities for each racial group.
    """
    
    # Standardize the 'firstname' and 'name' columns for consistency in matching
    input_df['firstname'] = input_df['firstname'].str.upper()
    input_df['name'] = input_df['name'].str.lower().str.replace('-', '_')

    # Copy the input DataFrame to keep the original data intact
    output_df = input_df.copy()

    # Define the suffixes for the racial groups in the surname probability dataset
    race_suffixes = {
        'white': 'white', 'black': 'black', 'aian': 'aian',
        'api': 'api', 'mult_other': '2prace', 'hispanic': 'hispanic'
    }

    # Replace missing or non-existent firstnames with 'ALL OTHER FIRST NAMES'
    output_df['firstname'] = output_df['firstname'].apply(lambda x: x if x in first_names['firstname'].values else 'ALL OTHER FIRST NAMES')

    # Handle hyphenated last names
    def handle_hyphenated_surnames(last_name):
        last_names = last_name.split('_')
        if len(last_names) == 1:
            return last_names[0]
        elif len(last_names) == 2:
            if last_names[0] in surname_2010_census['name'].values:
                return last_names[0]
            elif last_names[1] in surname_2010_census['name'].values:
                return last_names[1]
            else:
                return 'all other names'
        else:
            return 'all other names'

    output_df['name'] = output_df['name'].apply(handle_hyphenated_surnames)

    # Replace missing or non-existent surnames with 'all other names'
    output_df['name'] = output_df['name'].apply(lambda x: x if x in surname_2010_census['name'].values else 'all other names')

    # Define the function to calculate the BISFG probability for a row
    def bisfg_probability(row, race_key, race_suffix):
        p_r_s = p_f_r = p_g_r = 1

        # Handle hyphenated surnames by splitting and checking each part
        surnames = row['name'].split('_')
        for surname in surnames:
            # Check if the surname is in the surname_2010_census dataframe
            matching_surnames = surname_2010_census[surname_2010_census['name'] == surname]
            if not matching_surnames.empty:
                p_r_s *= matching_surnames[f'pct{race_suffix}'].iloc[0]

        # Check for the first name in the first names dataset and get its probability
        firstname = row['firstname']
        matching_firstnames = first_names[first_names['firstname'] == firstname]
        if not matching_firstnames.empty:
            p_f_r = matching_firstnames[f'name_given_{race_key}'].iloc[0]
        else:
            # Use 'ALL OTHER FIRST NAMES' probabilities if firstname is not found
            p_f_r = first_names[first_names['firstname'] == 'ALL OTHER FIRST NAMES'][f'name_given_{race_key}'].iloc[0]

        # Determine the geography-based probability using the block, tract, or ZIP code data
        if 'GeoInd_Block' in input_df.columns and row.get('GeoInd_Block') and row['GeoInd_Block'] in block['GeoInd_Block'].values:
            p_g_r = block[block['GeoInd_Block'] == row['GeoInd_Block']][f'here_given_{race_key}'].iloc[0]
        elif 'GeoInd_Tract' in input_df.columns and row.get('GeoInd_Tract') and row['GeoInd_Tract'] in tract['GeoInd_Tract'].values:
            p_g_r = tract[tract['GeoInd_Tract'] == row['GeoInd_Tract']][f'here_given_{race_key}'].iloc[0]
        elif 'ZCTA5' in input_df.columns and row.get('ZCTA5') and row['ZCTA5'] in zip_code_df['ZCTA5'].values:
            p_g_r = zip_code_df[zip_code_df['ZCTA5'] == row['ZCTA5']][f'here_given_{race_key}'].iloc[0]
        else:
            p_g_r = 1

        # Calculate the numerator of the BISFG probability
        numerator = p_r_s * p_f_r * p_g_r
        
        # Calculate the denominator as the sum of all possible combinations of surname, firstname, and geography probabilities
        denominator = sum(
            p_surname * p_firstname * p_geography
            for key, suffix in race_suffixes.items()
            for part in surnames
            for geo_df, geo_col in [(block, 'GeoInd_Block'), (tract, 'GeoInd_Tract'), (zip_code_df, 'ZCTA5')]
            if part in surname_2010_census['name'].values
            for p_surname in [surname_2010_census[surname_2010_census['name'] == part][f'pct{suffix}'].iloc[0]]
            if firstname in first_names['firstname'].values
            for p_firstname in [first_names[first_names['firstname'] == firstname][f'name_given_{key}'].iloc[0]]
            if row.get(geo_col) in geo_df[geo_col].values
            for p_geography in [geo_df[geo_df[geo_col] == row.get(geo_col)][f'here_given_{key}'].iloc[0]]
        )

        # Return the BISFG probability for the row, handling division by zero
        # Print numerator and denominator
        print(f"Numerator for {race_key}: {numerator}")
        print(f"Denominator for {race_key}: {denominator}")

        return numerator / denominator if denominator != 0 else np.nan
       
    # Calculate the BISFG probabilities for each racial group and add them to the output DataFrame
    for key, suffix in race_suffixes.items():
        output_df[f'bisfg_{key}'] = output_df.apply(lambda row: bisfg_probability(row, key, suffix), axis=1)

    return output_df

In [157]:
# Example usage of the function

# Create the input DataFrame
input_df = pd.DataFrame({
    'firstname': ['Rachel'],
    'name': ['zhitnitsky'],
    'ZCTA5': ['94109']
})

# Apply the function to the input DataFrame
result_df = calculate_bisfg_probabilities(input_df, block, tract, zip_code_df, first_names, surname_2010_census)

# result_df will have the BISFG probabilities
display(result_df)

Numerator for white: 1.5992791436906656e-07
Denominator for white: 2.3338812736418675e-07
Numerator for black: 4.035631371143492e-09
Denominator for black: 2.3338812736418675e-07
Numerator for aian: 2.1401375672607093e-10
Denominator for aian: 2.3338812736418675e-07
Numerator for api: 4.164807052417972e-08
Denominator for api: 2.3338812736418675e-07
Numerator for mult_other: 1.1270661382154035e-08
Denominator for mult_other: 2.3338812736418675e-07
Numerator for hispanic: 1.6291835960916886e-08
Denominator for hispanic: 2.3338812736418675e-07

,firstname,name,ZCTA5,bisfg_white,bisfg_black,bisfg_aian,bisfg_api,bisfg_mult_other,bisfg_hispanic
0,RACHEL,all other names,94109,0.685244,0.017292,0.000917,0.17845,0.048291,0.069806

In [162]:
# Example usage of the function

# Create the input DataFrame
input_df = pd.DataFrame({
    'firstname': ['MICHAEL','Ben','Rachel','Ben','Ben','Ben','Rachel','Rachel','Jamal','Jamal','Ben','Andy','Ben','Anna','Dinglebobby','Michael','Michael'],
    'name': ['smith','schneider','zhitnitsky','pickett','schneider-smith','smith-schneider','berg','schneider','Harris','Harris','White','Lin','Smith','Wu','Lin','Johnson','dooperkins'],
    'ZCTA5': ['01001','94536','94109','95618','94536','94536','91361','97203','90220','93405','90210','94536','94536','94109','94536','01001','01001']
})

# Apply the function to the input DataFrame
result_df = calculate_bisfg_probabilities(input_df, block, tract, zip_code_df, first_names, surname_2010_census)

# result_df will have the BISFG probabilities
display(result_df)

,firstname,name,ZCTA5,bisfg_white,bisfg_black,bisfg_aian,bisfg_api,bisfg_mult_other,bisfg_hispanic
0,MICHAEL,smith,01001,0.975615,0.013899,0.000546,0.000414,0.008590,0.000934
1,BEN,schneider,94536,0.723619,0.001664,0.000000,0.167589,0.089604,0.017525
2,RACHEL,all other names,94109,0.685244,0.017292,0.000917,0.178450,0.048291,0.069806
3,BEN,pickett,95618,0.725941,0.063197,0.000000,0.065669,0.133568,0.011625
4,BEN,schneider,94536,0.723619,0.001664,0.000000,0.167589,0.089604,0.017525
5,BEN,smith,94536,0.564882,0.093897,0.000000,0.149102,0.171676,0.020443
6,RACHEL,berg,91361,0.980052,0.000130,0.000141,0.002756,0.011350,0.005571
7,RACHEL,schneider,97203,0.961914,0.001527,0.000875,0.002118,0.021917,0.011649
8,JAMAL,harris,90220,0.001201,0.983155,0.000000,0.000379,0.011783,0.003481
9,JAMAL,harris,93405,0.107669,0.738026,0.000000,0.006375,0.144023,0.003907
10,BEN,white,90210,0.793512,0.039981,0.000000,0.014646,0.147607,0.004254
11,ANDY,lin,94536,0.000131,0.000005,0.000006,0.999750,0.000000,0.000108
12,BEN,smith,94536,0.564882,0.093897,0.000000,0.149102,0.171676,0.020443
13,ANNA,wu,94109,0.002642,0.000071,0.000012,0.990253,0.006187,0.000835
14,ALL OTHER FIRST NAMES,lin,94536,0.000175,0.000045,0.000005,0.997040,0.002543,0.000193
15,MICHAEL,johnson,01001,0.961134,0.024670,0.000684,0.000530,0.011894,0.001088
16,MICHAEL,all other names,01001,0.971729,0.005436,0.000560,0.006996,0.009642,0.005638

In [163]:
0.00008083407 * 0.6665 * 0.025619

1.3802468782134448e-06

In [165]:
# Example usage of the function

# Create the input DataFrame
input_df = pd.DataFrame({
    'firstname': ['Michael'],
    'name': ['dumbledoopey'],
    'ZCTA5': ['01001']
})

# Apply the function to the input DataFrame
result_df = calculate_bisfg_probabilities(input_df, block, tract, zip_code_df, first_names, surname_2010_census)

# result_df will have the BISFG probabilities
display(result_df)

Numerator for white: 1.3802634956071585e-06
Denominator for white: 1.4204204036190413e-06
Numerator for black: 7.72103365461196e-09
Denominator for black: 1.4204204036190413e-06
Numerator for aian: 7.947307072283767e-10
Denominator for aian: 1.4204204036190413e-06
Numerator for api: 9.937066892790029e-09
Denominator for api: 1.4204204036190413e-06
Numerator for mult_other: 1.3695407106032653e-08
Denominator for mult_other: 1.4204204036190413e-06
Numerator for hispanic: 8.008669651219943e-09
Denominator for hispanic: 1.4204204036190413e-06

,firstname,name,ZCTA5,bisfg_white,bisfg_black,bisfg_aian,bisfg_api,bisfg_mult_other,bisfg_hispanic
0,MICHAEL,all other names,01001,0.971729,0.005436,0.00056,0.006996,0.009642,0.005638

In [166]:
1.3802634956071585e-06+7.72103365461196e-09+7.947307072283767e-10+9.937066892790029e-09+1.3695407106032653e-08+8.008669651219943e-09

1.4204204036190413e-06

In [167]:
1.3802468782134448e-06/1.4204204036190413e-06

0.9717171583122576

# WORKING AND TESTED BISFG FUNCTION #

In [280]:
import pandas as pd
import numpy as np

def calculate_bisfg_probabilities(input_df, block, tract, zip_code_df, first_names, surname_2010_census):
    """
    Calculate the Bayesian Improved Surname Geocoding (BISFG) probabilities for each racial group.

    Parameters:
    input_df (DataFrame): DataFrame containing the columns 'firstname', 'name', and may include 'GeoInd_Block', 'GeoInd_Tract', 'ZCTA5'.
    block (DataFrame): DataFrame containing block-level geographical data.
    tract (DataFrame): DataFrame containing tract-level geographical data.
    zip_code_df (DataFrame): DataFrame containing ZIP code-level geographical data.
    first_names (DataFrame): DataFrame containing probabilities based on first names, including a row for 'ALL OTHER FIRST NAMES'.
    surname_2010_census (DataFrame): DataFrame containing probabilities based on surnames, including a row for 'all other names'.

    Returns:
    DataFrame: A DataFrame with the BISFG probabilities for each racial group, including the original 'name' column.
    """
    
    # Standardize the 'firstname' and 'name' columns for consistency in matching
    input_df['firstname'] = input_df['firstname'].str.upper()
    input_df['name'] = input_df['name'].str.lower().str.replace('-', '_')

    # Copy the input DataFrame to keep the original data intact
    output_df = input_df.copy()

    # Define the suffixes for the racial groups in the surname probability dataset
    race_suffixes = {
        'white': 'white', 'black': 'black', 'aian': 'aian',
        'api': 'api', 'mult_other': '2prace', 'hispanic': 'hispanic'
    }

    # Replace missing or non-existent firstnames with 'ALL OTHER FIRST NAMES'
    output_df['firstname'] = output_df['firstname'].apply(lambda x: x if x in first_names['firstname'].values else 'ALL OTHER FIRST NAMES')

    

    # Handle hyphenated last names
    def handle_hyphenated_surnames(last_name):
        last_names = last_name.split('_')
        if len(last_names) == 1:
            return last_names[0]
        elif len(last_names) == 2:
            if last_names[0] in surname_2010_census['name'].values:
                return last_names[0]
            elif last_names[1] in surname_2010_census['name'].values:
                return last_names[1]
            else:
                return 'all other names'
        else:
            return 'all other names'

    output_df['name'] = output_df['name'].apply(handle_hyphenated_surnames)

    # Replace missing or non-existent surnames with 'all other names'
    output_df['name'] = output_df['name'].apply(lambda x: x if x in surname_2010_census['name'].values else 'all other names')

    # Add a new column 'original_surname' to the output DataFrame
    output_df['original_surname'] = input_df['name']

    # Add a new column 'original_firstname' to the output DataFrame
    output_df['original_first_name'] = input_df['firstname']

    # Define the function to calculate the BISFG probability for a row
    def bisfg_probability(row, race_key, race_suffix):
        p_r_s = p_f_r = p_g_r = 1

        # Handle hyphenated surnames by splitting and checking each part
        surnames = row['name'].split('_')
        for surname in surnames:
            # Check if the surname is in the surname_2010_census dataframe
            matching_surnames = surname_2010_census[surname_2010_census['name'] == surname]
            if not matching_surnames.empty:
                p_r_s *= matching_surnames[f'pct{race_suffix}'].iloc[0]

        # Check for the first name in the first names dataset and get its probability
        firstname = row['firstname']
        matching_firstnames = first_names[first_names['firstname'] == firstname]
        if not matching_firstnames.empty:
            p_f_r = matching_firstnames[f'name_given_{race_key}'].iloc[0]
        else:
            # Use 'ALL OTHER FIRST NAMES' probabilities if firstname is not found
            p_f_r = first_names[first_names['firstname'] == 'ALL OTHER FIRST NAMES'][f'name_given_{race_key}'].iloc[0]

        # Determine the geography-based probability using the block, tract, or ZIP code data
        if 'GeoInd_Block' in input_df.columns and row.get('GeoInd_Block') and row['GeoInd_Block'] in block['GeoInd_Block'].values:
            p_g_r = block[block['GeoInd_Block'] == row['GeoInd_Block']][f'here_given_{race_key}'].iloc[0]
        elif 'GeoInd_Tract' in input_df.columns and row.get('GeoInd_Tract') and row['GeoInd_Tract'] in tract['GeoInd_Tract'].values:
            p_g_r = tract[tract['GeoInd_Tract'] == row['GeoInd_Tract']][f'here_given_{race_key}'].iloc[0]
        elif 'ZCTA5' in input_df.columns and row.get('ZCTA5') and row['ZCTA5'] in zip_code_df['ZCTA5'].values:
            p_g_r = zip_code_df[zip_code_df['ZCTA5'] == row['ZCTA5']][f'here_given_{race_key}'].iloc[0]
        else:
            p_g_r = 1

        # Calculate the numerator of the BISFG probability
        numerator = p_r_s * p_f_r * p_g_r
        
        # Calculate the denominator as the sum of all possible combinations of surname, firstname, and geography probabilities
        denominator = sum(
            p_surname * p_firstname * p_geography
            for key, suffix in race_suffixes.items()
            for part in surnames
            for geo_df, geo_col in [(block, 'GeoInd_Block'), (tract, 'GeoInd_Tract'), (zip_code_df, 'ZCTA5')]
            if part in surname_2010_census['name'].values
            for p_surname in [surname_2010_census[surname_2010_census['name'] == part][f'pct{suffix}'].iloc[0]]
            if firstname in first_names['firstname'].values
            for p_firstname in [first_names[first_names['firstname'] == firstname][f'name_given_{key}'].iloc[0]]
            if row.get(geo_col) in geo_df[geo_col].values
            for p_geography in [geo_df[geo_df[geo_col] == row.get(geo_col)][f'here_given_{key}'].iloc[0]]
        )

        # Return the BISFG probability for the row, handling division by zero
        #print(f"Numerator for {race_key}: {numerator}")
        #print(f"Denominator for {race_key}: {denominator}")
        return numerator / denominator if denominator != 0 else np.nan
       
    # Calculate the BISFG probabilities for each racial group and add them to the output DataFrame
    for key, suffix in race_suffixes.items():
        output_df[f'bisfg_{key}'] = output_df.apply(lambda row: bisfg_probability(row, key, suffix), axis=1)

    return output_df

In [285]:
# Example usage of the function

# Create the input DataFrame
input_df = pd.DataFrame({
    'firstname': ['MICHAEL','Ben','Rachel','Ben','Ben','Ben','Rachel','Rachel','Jamal','Jamal','Ben','Andy','Ben','Anna','Dinglebobby','Michael','Michael','dinkiedorkylol','Brian','Milly','Noemi'],
    'name': ['smith','schneider','zhitnitsky','pickett','schneider-smith','smith-schneider','berg','schneider','Harris','Harris','White','Lin','Smith','Wu','Lin','Johnson','dooperkins','smith','Clark','Fan','Rieber'],
    'ZCTA5': ['01001','94536','94109','95618','94536','94536','91361','97203','90220','93405','90210','94536','94536','94109','94536','01001','01001','01001','94109','94608','94109']
})

# Apply the function to the input DataFrame
result_df = calculate_bisfg_probabilities(input_df, block, tract, zip_code_df, first_names, surname_2010_census)

# result_df will have the BISFG probabilities
display(result_df)

,firstname,name,ZCTA5,original_surname,original_first_name,bisfg_white,bisfg_black,bisfg_aian,bisfg_api,bisfg_mult_other,bisfg_hispanic
0,MICHAEL,smith,01001,smith,MICHAEL,0.975615,0.013899,0.000546,0.000414,0.008590,0.000934
1,BEN,schneider,94536,schneider,BEN,0.723619,0.001664,0.000000,0.167589,0.089604,0.017525
2,RACHEL,all other names,94109,zhitnitsky,RACHEL,0.685244,0.017292,0.000917,0.178450,0.048291,0.069806
3,BEN,pickett,95618,pickett,BEN,0.725941,0.063197,0.000000,0.065669,0.133568,0.011625
4,BEN,schneider,94536,schneider_smith,BEN,0.723619,0.001664,0.000000,0.167589,0.089604,0.017525
5,BEN,smith,94536,smith_schneider,BEN,0.564882,0.093897,0.000000,0.149102,0.171676,0.020443
6,RACHEL,berg,91361,berg,RACHEL,0.980052,0.000130,0.000141,0.002756,0.011350,0.005571
7,RACHEL,schneider,97203,schneider,RACHEL,0.961914,0.001527,0.000875,0.002118,0.021917,0.011649
8,JAMAL,harris,90220,harris,JAMAL,0.001201,0.983155,0.000000,0.000379,0.011783,0.003481
9,JAMAL,harris,93405,harris,JAMAL,0.107669,0.738026,0.000000,0.006375,0.144023,0.003907
10,BEN,white,90210,white,BEN,0.793512,0.039981,0.000000,0.014646,0.147607,0.004254
11,ANDY,lin,94536,lin,ANDY,0.000131,0.000005,0.000006,0.999750,0.000000,0.000108
12,BEN,smith,94536,smith,BEN,0.564882,0.093897,0.000000,0.149102,0.171676,0.020443
13,ANNA,wu,94109,wu,ANNA,0.002642,0.000071,0.000012,0.990253,0.006187,0.000835
14,ALL OTHER FIRST NAMES,lin,94536,lin,DINGLEBOBBY,0.000175,0.000045,0.000005,0.997040,0.002543,0.000193
15,MICHAEL,johnson,01001,johnson,MICHAEL,0.961134,0.024670,0.000684,0.000530,0.011894,0.001088
16,MICHAEL,all other names,01001,dooperkins,MICHAEL,0.971729,0.005436,0.000560,0.006996,0.009642,0.005638
17,ALL OTHER FIRST NAMES,smith,01001,smith,DINKIEDORKYLOL,0.827547,0.116570,0.003661,0.011388,0.033768,0.007066
18,BRIAN,clark,94109,clark,BRIAN,0.928081,0.025719,0.003765,0.009319,0.030661,0.002455
19,ALL OTHER FIRST NAMES,fan,94608,fan,MILLY,0.000634,0.001066,0.000148,0.992284,0.005480,0.000388
20,NOEMI,rieber,94109,rieber,NOEMI,0.286798,0.001353,0.000000,0.087184,0.000000,0.624665

In [286]:
result_df.sum(axis=1)

/var/folders/cl/76_vk8yd563fjlw017gz364r0000gq/T/ipykernel_62093/71866768.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  result_df.sum(axis=1)

0     1.0
1     1.0
2     1.0
3     1.0
4     1.0
5     1.0
6     1.0
7     1.0
8     1.0
9     1.0
10    1.0
11    1.0
12    1.0
13    1.0
14    1.0
15    1.0
16    1.0
17    1.0
18    1.0
19    1.0
20    1.0
dtype: float64

In [264]:
0.00008083407 * 0.050215 * 0.7090

2.87788972296045e-06

In [265]:
# Example usage of the function

# Create the input DataFrame
input_df = pd.DataFrame({
    'firstname': ['abcdedfghik'],
    'name': ['smith'],
    'ZCTA5': ['01001']
})

# Apply the function to the input DataFrame
result_df = calculate_bisfg_probabilities(input_df, block, tract, zip_code_df, first_names, surname_2010_census)

# result_df will have the BISFG probabilities
display(result_df)

Numerator for white: 2.8778634446716962e-06
Denominator for white: 3.477583477582859e-06
Numerator for black: 4.053826981781363e-07
Denominator for black: 3.477583477582859e-06
Numerator for aian: 1.2733089229268602e-08
Denominator for aian: 3.477583477582859e-06
Numerator for api: 3.960141358072435e-08
Denominator for api: 3.477583477582859e-06
Numerator for mult_other: 1.17430310140234e-07
Denominator for mult_other: 3.477583477582859e-06
Numerator for hispanic: 2.4572521782799736e-08
Denominator for hispanic: 3.477583477582859e-06

,firstname,name,ZCTA5,original_surname,original_first_name,bisfg_white,bisfg_black,bisfg_aian,bisfg_api,bisfg_mult_other,bisfg_hispanic
0,ALL OTHER FIRST NAMES,smith,01001,smith,ABCDEDFGHIK,0.827547,0.11657,0.003661,0.011388,0.033768,0.007066

In [267]:
2.8778634446716962e-06 + 4.053826981781363e-07 + 1.2733089229268602e-08 + 3.960141358072435e-08 +  1.17430310140234e-07 + 2.4572521782799736e-08

3.477583477582859e-06

In [268]:
2.8778634446716962e-06/3.477583477582859e-06

0.8275469052642249

In [269]:
# NOT WORKING FOR BLOCK OR TRACT. need to remove tract and zip from df then put in output df for it to work 
# itll work if the input df only contains block tract or zip

In [270]:
# Example usage of the function

# Create the input DataFrame
input_df = pd.DataFrame({
    'firstname': ['MICHAEL','Ben','Rachel','Ben','Ben','Ben','Rachel','Rachel','Jamal','Jamal','Ben','Andy','Ben','Anna','Dinglebobby','Michael','Michael','dinkiedorkylol'],
    'name': ['smith','schneider','zhitnitsky','pickett','schneider-smith','smith-schneider','berg','schneider','Harris','Harris','White','Lin','Smith','Wu','Lin','Johnson','dooperkins','smith'],
    'GeoInd_Block': ['010010201001','010010201001','010010201001','010010201001','010010201001','010010201001','010010201001','010010201001','010010201001','010010201001','010010201001','010010201001','010010201001','010010201001','010010201001','010010201001','010010201001','010010201001']
})

# Apply the function to the input DataFrame
result_df = calculate_bisfg_probabilities(input_df, block, tract, zip_code_df, first_names, surname_2010_census)

# result_df will have the BISFG probabilities
display(result_df)

Numerator for white: 5.087807283607903e-08
Denominator for white: 5.741151494276981e-08
Numerator for white: 5.956070926049954e-10
Denominator for white: 6.137349593007469e-10
Numerator for white: 2.3966719767838046e-09
Denominator for white: 2.6142785237589786e-09
Numerator for white: 4.098351478323414e-10
Denominator for white: 5.568034513678947e-10
Numerator for white: 5.956070926049954e-10
Denominator for white: 6.137349593007469e-10
Numerator for white: 4.428793168924403e-10
Denominator for white: 5.662347967718341e-10
Numerator for white: 3.4049642832957004e-09
Denominator for white: 3.4544160804760843e-09
Numerator for white: 3.428697269112314e-09
Denominator for white: 3.471621331062682e-09
Numerator for white: 3.151669237577324e-11
Denominator for white: 2.5340236097547935e-10
Numerator for white: 3.151669237577324e-11
Denominator for white: 2.5340236097547935e-10
Numerator for white: 4.092104943529445e-10
Denominator for white: 5.556515215047117e-10
Numerator for white: 6.3628319208835585e-12
Denominator for white: 3.171695967809526e-10
Numerator for white: 4.428793168924403e-10
Denominator for white: 5.662347967718341e-10
Numerator for white: 4.964890560546862e-11
Denominator for white: 3.555060515237265e-10
Numerator for white: 2.391087328939519e-09
Denominator for white: 9.74297538701247e-08
Numerator for white: 4.231706565787842e-08
Denominator for white: 5.164976586703603e-08
Numerator for white: 4.7828258879050316e-08
Denominator for white: 5.143193149559844e-08
Numerator for white: 9.972240683635995e-08
Denominator for white: 2.158957894669208e-07
Numerator for black: 5.269514676167108e-09
Denominator for black: 5.741151494276981e-08
Numerator for black: 1.7685841362968544e-12
Denominator for black: 6.137349593007469e-10
Numerator for black: 1.0827967428144866e-10
Denominator for black: 2.6142785237589786e-09
Numerator for black: 1.202225914045513e-10
Denominator for black: 5.568034513678947e-10
Numerator for black: 1.7685841362968544e-12
Denominator for black: 6.137349593007469e-10
Numerator for black: 9.505111486004722e-11
Denominator for black: 5.662347967718341e-10
Numerator for black: 4.442894020926967e-12
Denominator for black: 3.4544160804760843e-09
Numerator for black: 5.458412654281704e-12
Denominator for black: 3.471621331062682e-09
Numerator for black: 2.0465723852686154e-10
Denominator for black: 2.5340236097547935e-10
Numerator for black: 2.0465723852686154e-10
Denominator for black: 2.5340236097547935e-10
Numerator for black: 1.1586282585926137e-10
Denominator for black: 5.556515215047117e-10
Numerator for black: 2.8974574800642336e-13
Denominator for black: 3.171695967809526e-10
Numerator for black: 9.505111486004722e-11
Denominator for black: 5.662347967718341e-10
Numerator for black: 2.3818680197674436e-12
Denominator for black: 3.555060515237265e-10
Numerator for black: 7.953934810109378e-10
Denominator for black: 9.74297538701247e-08
Numerator for black: 7.896291355935396e-09
Denominator for black: 5.164976586703603e-08
Numerator for black: 1.945000440835371e-09
Denominator for black: 5.143193149559844e-08
Numerator for black: 1.0211968525645986e-07
Denominator for black: 2.158957894669208e-07
Numerator for aian: 2.7370384084272503e-10
Denominator for aian: 5.741151494276981e-08
Numerator for aian: 0.0
Denominator for aian: 6.137349593007469e-10
Numerator for aian: 4.7902999506668545e-12
Denominator for aian: 2.6142785237589786e-09
Numerator for aian: 0.0
Denominator for aian: 5.568034513678947e-10
Numerator for aian: 0.0
Denominator for aian: 6.137349593007469e-10
Numerator for aian: 0.0
Denominator for aian: 5.662347967718341e-10
Numerator for aian: 2.6179546242016524e-12
Denominator for aian: 3.4544160804760843e-09
Numerator for aian: 1.503931379860524e-12
Denominator for aian: 3.471621331062682e-09
Numerator for aian: 0.0
Denominator for aian: 2.5340236097547935e-10
Numerator for aian: 0.0
Denominator for aian: 2.5340236097547935e-10
Numerator for aian: 0.0
Denominator for aian: 5.556515215047117e-10
Numerator for aian: 4.493769872372222e-13
Denominator for aian: 3.171695967809526e-10
Numerator for aian: 0.0
Denominator for aian: 5.662347967718341e-10
Numerator for aian: 3.382834898113692e-13
Denominator for aian: 3.555060515237265e-10
Numerator for aian: 9.522327501596245e-11
Denominator for aian: 9.74297538701247e-08
Numerator for aian: 2.890804611147882e-10
Denominator for aian: 5.164976586703603e-08
Numerator for aian: 2.644778686794871e-10
Denominator for aian: 5.143193149559844e-08
Numerator for aian: 4.237435738210329e-09
Denominator for aian: 2.158957894669208e-07
Numerator for api: 7.1551451511743855e-12
Denominator for api: 5.741151494276981e-08
Numerator for api: 8.819382238791311e-13
Denominator for api: 6.137349593007469e-10
Numerator for api: 8.785486874967804e-12
Denominator for api: 2.6142785237589786e-09
Numerator for api: 6.128723250685487e-13
Denominator for api: 5.568034513678947e-10
Numerator for api: 8.819382238791311e-13
Denominator for api: 6.137349593007469e-10
Numerator for api: 7.4740527447384e-13
Denominator for api: 5.662347967718341e-10
Numerator for api: 8.046932771300498e-13
Denominator for api: 3.4544160804760843e-09
Numerator for api: 6.503685390503142e-13
Denominator for api: 3.471621331062682e-09
Numerator for api: 1.2774157529487835e-13
Denominator for api: 2.5340236097547935e-10
Numerator for api: 1.2774157529487835e-13
Denominator for api: 2.5340236097547935e-10
Numerator for api: 7.324571689843631e-13
Denominator for api: 5.556515215047117e-10
Numerator for api: 3.0971751792751796e-10
Denominator for api: 3.171695967809526e-10
Numerator for api: 7.4740527447384e-13
Denominator for api: 5.662347967718341e-10
Numerator for api: 2.6192278313133697e-10
Denominator for api: 3.555060515237265e-10
Numerator for api: 8.713273643547312e-08
Denominator for api: 9.74297538701247e-08
Numerator for api: 7.727556763268338e-12
Denominator for api: 5.164976586703603e-08
Numerator for api: 1.140530137097197e-10
Denominator for api: 5.143193149559844e-08
Numerator for api: 4.5452653330971903e-10
Denominator for api: 2.158957894669208e-07
Numerator for mult_other: 9.315816337240894e-10
Denominator for mult_other: 5.741151494276981e-08
Numerator for mult_other: 1.4511936863517009e-11
Denominator for mult_other: 6.137349593007469e-10
Numerator for mult_other: 5.6180255704068606e-11
Denominator for mult_other: 2.6142785237589786e-09
Numerator for mult_other: 2.5154023896762814e-11
Denominator for mult_other: 5.568034513678947e-10
Numerator for mult_other: 1.4511936863517009e-11
Denominator for mult_other: 6.137349593007469e-10
Numerator for mult_other: 2.648428477591854e-11
Denominator for mult_other: 5.662347967718341e-10
Numerator for mult_other: 3.487050354045638e-11
Denominator for mult_other: 3.4544160804760843e-09
Numerator for mult_other: 2.905875295038032e-11
Denominator for mult_other: 3.471621331062682e-09
Numerator for mult_other: 1.6956364878020157e-11
Denominator for mult_other: 2.5340236097547935e-10
Numerator for mult_other: 1.6956364878020157e-11
Denominator for mult_other: 2.5340236097547935e-10
Numerator for mult_other: 2.8782008112642065e-11
Denominator for mult_other: 5.556515215047117e-10
Numerator for mult_other: 0.0
Denominator for mult_other: 3.171695967809526e-10
Numerator for mult_other: 2.648428477591854e-11
Denominator for mult_other: 5.662347967718341e-10
Numerator for mult_other: 3.867037692888907e-11
Denominator for mult_other: 3.555060515237265e-10
Numerator for mult_other: 6.839103885924598e-09
Denominator for mult_other: 9.74297538701247e-08
Numerator for mult_other: 1.0889721380519037e-09
Denominator for mult_other: 5.164976586703603e-08
Numerator for mult_other: 9.868810001095374e-10
Denominator for mult_other: 5.143193149559844e-08
Numerator for mult_other: 8.461942096143993e-09
Denominator for mult_other: 2.158957894669208e-07
Numerator for hispanic: 5.1486810805677305e-11
Denominator for hispanic: 5.741151494276981e-08
Numerator for hispanic: 9.654074720586164e-13
Denominator for hispanic: 6.137349593007469e-10
Numerator for hispanic: 3.9570830164022076e-11
Denominator for hispanic: 2.6142785237589786e-09
Numerator for hispanic: 9.788159091705414e-13
Denominator for hispanic: 5.568034513678947e-10
Numerator for hispanic: 9.654074720586164e-13
Denominator for hispanic: 6.137349593007469e-10
Numerator for hispanic: 1.0726749689540181e-12
Denominator for hispanic: 5.662347967718341e-10
Numerator for hispanic: 6.715751717668707e-12
Denominator for hispanic: 3.4544160804760843e-09
Numerator for hispanic: 6.2525964267950035e-12
Denominator for hispanic: 3.471621331062682e-09
Numerator for hispanic: 1.4432361952950994e-13
Denominator for hispanic: 2.5340236097547935e-10
Numerator for hispanic: 1.4432361952950994e-13
Denominator for hispanic: 2.5340236097547935e-10
Numerator for hispanic: 1.0637360108794011e-12
Denominator for hispanic: 5.556515215047117e-10
Numerator for hispanic: 3.501241973074324e-13
Denominator for hispanic: 3.171695967809526e-10
Numerator for hispanic: 1.0726749689540181e-12
Denominator for hispanic: 5.662347967718341e-10
Numerator for hispanic: 2.5438343484529826e-12
Denominator for hispanic: 3.555060515237265e-10
Numerator for hispanic: 1.7620946376056418e-10
Denominator for hispanic: 9.74297538701247e-08
Numerator for hispanic: 5.062869729224935e-11
Denominator for hispanic: 5.164976586703603e-08
Numerator for hispanic: 2.9326029321400363e-10
Denominator for hispanic: 5.143193149559844e-08
Numerator for hispanic: 8.997930064369237e-10
Denominator for hispanic: 2.158957894669208e-07

,firstname,name,GeoInd_Block,original_surname,original_first_name,bisfg_white,bisfg_black,bisfg_aian,bisfg_api,bisfg_mult_other,bisfg_hispanic
0,MICHAEL,smith,010010201001,smith,MICHAEL,0.886200,0.091785,0.004767,0.000125,0.016226,0.000897
1,BEN,schneider,010010201001,schneider,BEN,0.970463,0.002882,0.000000,0.001437,0.023645,0.001573
2,RACHEL,all other names,010010201001,zhitnitsky,RACHEL,0.916762,0.041419,0.001832,0.003361,0.021490,0.015136
3,BEN,pickett,010010201001,pickett,BEN,0.736050,0.215916,0.000000,0.001101,0.045176,0.001758
4,BEN,schneider,010010201001,schneider_smith,BEN,0.970463,0.002882,0.000000,0.001437,0.023645,0.001573
5,BEN,smith,010010201001,smith_schneider,BEN,0.782148,0.167865,0.000000,0.001320,0.046773,0.001894
6,RACHEL,berg,010010201001,berg,RACHEL,0.985684,0.001286,0.000758,0.000233,0.010094,0.001944
7,RACHEL,schneider,010010201001,schneider,RACHEL,0.987636,0.001572,0.000433,0.000187,0.008370,0.001801
8,JAMAL,harris,010010201001,harris,JAMAL,0.124374,0.807637,0.000000,0.000504,0.066915,0.000570
9,JAMAL,harris,010010201001,harris,JAMAL,0.124374,0.807637,0.000000,0.000504,0.066915,0.000570
10,BEN,white,010010201001,white,BEN,0.736452,0.208517,0.000000,0.001318,0.051799,0.001914
11,ANDY,lin,010010201001,lin,ANDY,0.020061,0.000914,0.001417,0.976504,0.000000,0.001104
12,BEN,smith,010010201001,smith,BEN,0.782148,0.167865,0.000000,0.001320,0.046773,0.001894
13,ANNA,wu,010010201001,wu,ANNA,0.139657,0.006700,0.000952,0.736760,0.108776,0.007156
14,ALL OTHER FIRST NAMES,lin,010010201001,lin,DINGLEBOBBY,0.024542,0.008164,0.000977,0.894313,0.070195,0.001809
15,MICHAEL,johnson,010010201001,johnson,MICHAEL,0.819308,0.152881,0.005597,0.000150,0.021084,0.000980
16,MICHAEL,all other names,010010201001,dooperkins,MICHAEL,0.929933,0.037817,0.005142,0.002218,0.019188,0.005702
17,ALL OTHER FIRST NAMES,smith,010010201001,smith,DINKIEDORKYLOL,0.461901,0.473005,0.019627,0.002105,0.039195,0.004168

In [271]:
result_df.sum(axis=1)

/var/folders/cl/76_vk8yd563fjlw017gz364r0000gq/T/ipykernel_62093/71866768.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  result_df.sum(axis=1)

0     1.0
1     1.0
2     1.0
3     1.0
4     1.0
5     1.0
6     1.0
7     1.0
8     1.0
9     1.0
10    1.0
11    1.0
12    1.0
13    1.0
14    1.0
15    1.0
16    1.0
17    1.0
dtype: float64

In [272]:
# Example usage of the function

# Create the input DataFrame
input_df = pd.DataFrame({
    'firstname': ['MICHAEL'],
    'name': ['smith'],
    'GeoInd_Block': ['010010201001']
})

# Apply the function to the input DataFrame
result_df = calculate_bisfg_probabilities(input_df, block, tract, zip_code_df, first_names, surname_2010_census)

# result_df will have the BISFG probabilities
display(result_df)

Numerator for white: 5.087807283607903e-08
Denominator for white: 5.741151494276981e-08
Numerator for black: 5.269514676167108e-09
Denominator for black: 5.741151494276981e-08
Numerator for aian: 2.7370384084272503e-10
Denominator for aian: 5.741151494276981e-08
Numerator for api: 7.1551451511743855e-12
Denominator for api: 5.741151494276981e-08
Numerator for mult_other: 9.315816337240894e-10
Denominator for mult_other: 5.741151494276981e-08
Numerator for hispanic: 5.1486810805677305e-11
Denominator for hispanic: 5.741151494276981e-08

,firstname,name,GeoInd_Block,original_surname,original_first_name,bisfg_white,bisfg_black,bisfg_aian,bisfg_api,bisfg_mult_other,bisfg_hispanic
0,MICHAEL,smith,010010201001,smith,MICHAEL,0.8862,0.091785,0.004767,0.000125,0.016226,0.000897

In [273]:
idk = block[block['GeoInd_Block']=='010010201001']

In [274]:
idk['here_given_white']*0.7090*0.025619

0    5.087746e-08
Name: here_given_white, dtype: float64

In [275]:
5.087807283607903e-08+5.269514676167108e-09+2.7370384084272503e-10+7.1551451511743855e-12+9.315816337240894e-10+5.1486810805677305e-11

5.741151494276981e-08

In [279]:
5.087746e-08/5.741151494276981e-08

0.8861891216547199

In [276]:
# Example usage of the function

# Create the input DataFrame
input_df = pd.DataFrame({
    'firstname': ['MICHAEL'],
    'name': ['smith'],
    'GeoInd_Tract': ['01001020100']
})

# Apply the function to the input DataFrame
result_df = calculate_bisfg_probabilities(input_df, block, tract, zip_code_df, first_names, surname_2010_census)

# result_df will have the BISFG probabilities
display(result_df)

Numerator for white: 1.3844175702132528e-07
Denominator for white: 1.548542937500841e-07
Numerator for black: 1.3797293240431649e-08
Denominator for black: 1.548542937500841e-07
Numerator for aian: 7.527082563735936e-10
Denominator for aian: 1.548542937500841e-07
Numerator for api: 2.14664548975949e-11
Denominator for api: 1.548542937500841e-07
Numerator for mult_other: 1.7301741076283708e-09
Denominator for mult_other: 1.548542937500841e-07
Numerator for hispanic: 1.1089466942761265e-10
Denominator for hispanic: 1.548542937500841e-07

,firstname,name,GeoInd_Tract,original_surname,original_first_name,bisfg_white,bisfg_black,bisfg_aian,bisfg_api,bisfg_mult_other,bisfg_hispanic
0,MICHAEL,smith,01001020100,smith,MICHAEL,0.894013,0.089099,0.004861,0.000139,0.011173,0.000716

In [277]:
tr = tract[tract['GeoInd_Tract'] == '01001020100']

0.7090*0.025619*tr['here_given_white']

0    1.384401e-07
Name: here_given_white, dtype: float64

In [278]:
result_df.sum(axis=1)

/var/folders/cl/76_vk8yd563fjlw017gz364r0000gq/T/ipykernel_62093/71866768.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  result_df.sum(axis=1)

0    1.0
dtype: float64